<head>
  <meta charset="utf-8">
  <meta http-equiv="x-ua-compatible" content="ie=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  {{ block "head/resource-hints" . }}{{ partial "head/resource-hints.html" . }}{{ end }}
  {{ block "head/script-header" . }}{{ partial "head/script-header.html" . }}{{ end }}
  {{ block "head/seo" . }}{{ partial "head/seo.html" . }}{{ end }}
  {{ block "head/favicons" . }}{{ partial "head/favicons.html" . }}{{ end }}
  {{- if or (eq .Section "mirrord") (eq .Section "careers") (eq .Section "docs") (eq .Layout "newsletter") (eq .Layout "builder") .IsHome }}
  {{ block "head/mirrord-styles" . }}{{ partial "head/mirrord-styles.html" . }}{{ end }}
  {{- else }}
  {{ block "head/stylesheet" . }}{{ partial "head/stylesheet.html" . }}{{ end }}
  {{- end }}
  <!-- Start of Reo Javascript -->
  <script type="text/javascript">
    !function () { var e, t, n; e = "0e0f4d642e9f23a", t = function () { Reo.init({ clientID: "0e0f4d642e9f23a" }) }, (n = document.createElement("script")).src = "https://static.reo.dev/" + e + "/reo.js", n.defer = !0, n.onload = t, document.head.appendChild(n) }();
  </script>
  <!-- End of Reo Javascript -->
  <script>(function (w, d, s, l, i) {
      w[l] = w[l] || []; w[l].push({
        'gtm.start':
          new Date().getTime(), event: 'gtm.js'
      }); var f = d.getElementsByTagName(s)[0],
        j = d.createElement(s), dl = l != 'dataLayer' ? '&l=' + l : ''; j.async = true; j.src =
          'https://www.googletagmanager.com/gtm.js?id=GTM-P3T38KFN' + dl; f.parentNode.insertBefore(j, f);
    })(window, document, 'script', 'dataLayer', 'GTM-P3T38KFN');</script>
</head>