{{/* Load Google Fonts early via HTML instead of CSS @import to reduce CLS */}}
<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
{{/* Preconnect to third-party domains used on the page */}}
<link rel="preconnect" href="https://hog.metalbear.com">
<link rel="preconnect" href="https://static.reo.dev" crossorigin>
<link rel="preconnect" href="https://www.googletagmanager.com" crossorigin>
<link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Anonymous+Pro:wght@400;700&family=Poppins:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;1,400;1,600;1,700&family=Unbounded:wght@400;700&display=swap">

{{ if .Site.Params.options.kaTex -}}
  <link rel="preload" as="font" href="{{ "fonts/KaTeX_Main-Regular.woff2" | absURL }}" type="font/woff2" crossorigin>
  <link rel="preload" as="font" href="{{ "fonts/KaTeX_Math-Italic.woff2" | absURL }}" type="font/woff2" crossorigin>
{{ end -}}