{{ $last := sub (len .Params.contributors) 1 }}
<p class="blog-single__meta"><small>Posted {{ .PublishDate.Format "January 2, 2006" }} by {{ if .Params.contributors -}}{{
        range $index,
        $contributor := .Params.contributors }}{{ if gt $index 0 }}{{ if eq $index $last }} and {{ else }}, {{ end }}{{
        end }}<a class="blog-single__meta-link" href="{{ "/contributors/" | relURL }}{{ . | urlize }}/">{{ .
            }}</a>{{ end -}}{{ end -}}</small>&nbsp;&hyphen;&nbsp;<span>{{ .ReadingTime -}}&nbsp;Min Read</span>
        </p>