{{ define "main" }}
<div x-data="teams" class="container p-10">
    <strong x-show="!authenticated">Loading..</strong>
    <div x-show="authenticated">
        <h6>Hi <span x-text="user?.name"></span></h6>
        <div x-data="{ license: '', visible: false }" x-effect="license = await getLicense()">
            <div class="flex">
                <label>License Key</label>
                <input style="width: 32rem;" class="m-2" x-bind:value="license" x-bind:type="visible ? 'text' : 'password'"></input>
                <button class="btn" @click="visible = !visible" x-text="visible ? 'Hide' : 'Show'"></button>
            </div>
            {{ .Content }}
        </div>    
    </div>
    
</div>

<script type="text/javascript">
    document.addEventListener('alpine:init', () => {
        Alpine.data('teams', () => ({
            authenticated: false,
            user: null,

            init() {
                const app = Frontegg.initialize(({
                  contextOptions: {
                    baseUrl: '{{ .Params.baseUrl }}',
                    clientId: '{{ .Params.clientId }}',
                  },
                  authOptions: {
                    keepSessionAlive: true
                  },
                  hostedLoginBox: true
                }));

                app.store.subscribe(() => {
                    let { auth } = app.store.getState();

                    if (!auth.isLoading) {
                        this.$dispatch("update_user", auth.user);

                        this.authenticated = auth.isAuthenticated;
                        this.user = auth.user;

                        if (!auth.isAuthenticated) {
                            app.loginWithRedirect();
                        }
                    }
                });
            },

            async getLicense() {
                if (!this.authenticated) {
                    return "";
                }

                let result = await fetch('{{ .Params.licenseUrl }}/v1/license-key', {
                    headers: { authorization: `Bearer ${this.user.accessToken}` } 
                });

                if (result.status === 200) {
                    return result.text();
                }

                return ""
            }
        }))
    })
</script>

{{ end }}
