{{ define "main" }}
<div x-data="teams" class="text-center p-10">
    <strong x-show="!authenticated">Loading..</strong>
    <h1 x-show="authenticated">Hi <span x-text="user?.name"></span></h1>
    <div x-data="{ license: '' }">
        <div class="flex">
            <textarea x-text="license" style="width: 720px;"></textarea>
        </div>
        <button @click="license = await getLicense()">Reveal License</button>
    </div>
</div>

<script type="text/javascript">
    document.addEventListener('alpine:init', () => {
        Alpine.data('teams', () => ({
            authenticated: false,
            user: null,

            init() {
                const app = Frontegg.initialize(({
                  contextOptions: {
                    baseUrl: "https://app-y3ku8d7npxle.frontegg.com",
                    clientId: 'fc38df76-60a7-428b-8a51-6edd86031103',
                  },
                  hostedLoginBox: true
                }));

                app.store.subscribe(() => {
                    let { auth } = app.store.getState();

                    if (!auth.isLoading) {
                        this.$dispatch("update_user", auth.user);

                        this.authenticated = auth.isAuthenticated;
                        this.user = auth.user;

                        if (!auth.isAuthenticated) {
                            app.loginWithRedirect();
                        }
                    }
                });
            },

            async getLicense() {
                if (!this.authenticated) {
                    return "";
                }

                console.log(this.user);

                let res = await fetch("http://localhost:3000/v1/license", { headers: { authorization: `Bearer ${this.user.accessToken}` } });

                if (res.status === 200) {
                    return res.text();
                }

                return ""
            }
        }))
    })
</script>

{{ end }}
