<div class="demo__toc-widget mb-20 xl:mb-[100px] 2xl:mb-[120px] pt-5 xl:pt-[25px] 2xl:pt-[30px]">
    <header class="demo__toc-header flex items-center mb-8">
        <h3 class="demo__toc-heading text-black text-xl xl:text-[1.563rem] 2xl:text-3xl font-bold m-0">On this page</h3>
        <div class="demo__toc-icon ml-[14px]">
            <svg class="demo__toc-svg w-[13px] xl:w-[17px] 2xl:w-5 h-auto" viewBox="0 0 16 9" fill="none" xmlns="http://www.w3.org/2000/svg">
                <path d="M0.919922 0.855469L7.91951 7.71506L14.6391 1.12985" stroke="black" stroke-width="1.37192"
                    stroke-linecap="round" />
            </svg>
        </div>
    </header>
    <div class="demo__toc">
        {{ .TableOfContents }}
    </div>
</div>