<div class="demo-widget__cta">
    <div class="demo-widget__content">
        <p>With mirrord by MetalBear, cloud developers can run local code like it’s in their Kubernetes cluster.</p>
    </div>
    <div class="flex justify-center">
        <a class="w-full lg:w-[248px] xl:w-[310px] 2xl:w-[372px] h-[50px] xl:h-[54px] 2xl:h-[54px] text-sm lg:text-[15px] xl:text-lg 2xl:text-xl text-white hover:text-[#000000] capitalize font-body font-medium flex justify-center items-center bg-primary hover:bg-[#FFD18C] border border-solid border-[#222222] rounded-[6px] lg:rounded-[11px] shadow-[-5px_5px_0px_#000000] lg:shadow-[-9px_8px_0px_#000000] transition-colors duration-200 ease-[ease]"
            href="/mirrord/">Learn more about mirrord</a>
    </div>
</div>