{{ if .Site.Params.alert -}}
  {{ partial "header/alert.html" . }}
{{ end -}}

{{ if eq .Site.Params.options.flexSearch false -}}
<div class="sticky-lg-top">
{{ end -}}

<div class="header-bar"></div>

<header class="header__site border-b-3">
  <div class="navbar navbar-expand-lg navbar-light doks-navbar">
    <nav class="container flex-wrap flex-md-nowrap align-items-center" aria-label="Main navigation">
      <a class="navbar-brand p-0" href="{{ "/" | relLangURL }}" aria-label="{{ .Site.Params.Title }}">
        <img class="img-fluid" src="/metalbear-header-logo.svg"/>
      </a>

      <button class="btn btn-menu d-block d-lg-none order-5" type="button" data-bs-toggle="offcanvas" data-bs-target="#offcanvasDoks" aria-controls="offcanvasDoks" aria-label="Open main menu">
        <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-menu"><line x1="3" y1="12" x2="21" y2="12"></line><line x1="3" y1="6" x2="21" y2="6"></line><line x1="3" y1="18" x2="21" y2="18"></line></svg>
      </button>

      <div class="offcanvas offcanvas-end border-0" tabindex="-1" id="offcanvasDoks" data-bs-backdrop="true" aria-labelledby="offcanvasDoksLabel">
        <div class="offcanvas-header align-items-start d-lg-none">
          <a class="navbar-brand flex-grow-1 p-0" href="{{ "/" | relLangURL }}" aria-label="{{ .Site.Params.Title }}">
            <img class="navbar-brand__image-mobile d-block mx-auto" src="/metalbear-logo-mobile.svg" style="height: 112px; transform: translateX(1rem);"/>
          </a>
          <button type="button" id="menuDismissButton" class="btn-close text-reset me-2" data-bs-dismiss="offcanvas" aria-label="Close main menu"></button>
        </div>
        <div class="offcanvas-body justify-content-center align-items-center">
          <div class="flex-grow-1">
            <ul class="nav flex-column flex-lg-row justify-content-center justify-content-lg-start align-items-center">
              {{- $current := . -}}
              {{- $section := $current.Section -}}
              {{ range .Site.Menus.main -}}
                {{- $url := .URL -}}
                {{- $isExternal := strings.HasPrefix $url "http" -}}
                {{- $active := or ($current.IsMenuCurrent "main" .) ($current.HasMenuCurrent "main" .) -}}
                {{- $active = or $active (eq .Name $current.Title) -}}
                {{- $active = or $active (and (eq .Name ($section | humanize)) (eq $current.Section $section)) -}}
                {{- $active = or $active (and (eq .Name "Blog") (eq $current.Section "blog" "contributors")) -}}
                {{- $active = or $active (and (eq .Name "Tags") (eq $current.Section "tags")) -}}
                {{- $active = or $active (and (eq .Name "Community") (eq $current.Title "Writers Program" "CFP Program")) -}}
                {{ if .HasChildren }}
                  <li class="nav-item dropdown ms-lg-0">
                    <a class="nav-link dropdown-toggle px-lg-21 px-xl-26 px-xxl-35 py-1{{ if $active }} active{{ end }}" href="#" id="navbarDropdownMenuLink" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                      {{ .Name }}
                      <span class="dropdown-caret">
                        <svg width="17" height="7" viewBox="0 0 17 7" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <path d="M3.33594 6L8.33594 1L13.3359 6H3.33594Z" fill="black"/>
                        </svg>
                      </span>
                    </a>
                    <ul class="dropdown-menu dropdown-menu-main" aria-labelledby="navbarDropdownMenuLink">
                      {{ range .Children -}}
                      {{- $active = eq .Name $current.Title -}}
                        <li>
                          <a class="dropdown-item px-lg-14 px-xl-21 px-xxl-28 {{ if $active }} active{{ end }}" href="{{ .URL | relLangURL }}"{{ if $active }} aria-current="true"{{ end }}>{{ .Name }}</a>
                        </li>
                      {{ end -}}
                    </ul>
                  </li>
                {{ else }}
                  <li class="nav-item nav-item-non-children ms-lg-0">
                    <a class="nav-link px-3 px-lg-21 px-xl-26 px-xxl-35 py-2{{ if $active }} active{{ end }}" href="{{ if $isExternal }}{{ $url }}{{ else }}{{ $url | relLangURL }}{{ end }}" {{ if $isExternal }}target="_blank" rel="noopener noreferrer"{{ end }}>{{ .Name }}</a>
                  </li>
                {{ end }}
              {{ end -}}
            </ul>
          </div>
          <hr class="my-4 d-lg-none" style="color:#222222;">
          {{/*  <ul class="nav nav__social justify-content-center">
            {{ range .Site.Menus.social -}}
              <li class="nav-item nav-item__social">
                <a class="nav-link nav__social-link px-2 py-1 mx-1" target="_blank" href="{{ .URL | relURL }}">{{ .Pre | safeHTML }}</a>
              </li>
            {{ end -}}
          </ul>  */}}
          <ul class="nav justify-content-center justify-content-lg-start align-items-center">
            <li>
              <a class="button button-primary button-menu-cta" href="https://app.metalbear.co/account/sign-up" target="_blank">Try mirrord for free</a>
            </li>
            <li class="nav-item nav-item-non-children ms-lg-0">
              <a class="nav-link px-3 px-lg-14 px-xl-21 px-xxl-28 py-2 link-underline link-hover-underline" href="https://app.metalbear.co/">Sign in</a>
            </li>
          </ul>
        </div>
      </div>
    </nav>
  </div>
</header>
{{ if eq .Site.Params.options.flexSearch false }}
</div>
{{ end -}}
