<div class="docs__toc border-b lg:border-b-0 lg:border-l border-dashed lg:border-solid border-[#C9C9C9] lg:pl-6 pt-6 pb-2 lg:pt-0 lg:pb-0 mb-8 lg:m-0 overflow-x-hidden">
  <h3 class="text-sm text-primary-text font-bold uppercase mb-4">On this page</h3>
  
  <nav class="docs-nav__toc" x-data="{ activeLink: null }">
    {{- range .Fragments.Headings }}
    <ul>
      {{- range $index, $h2 := .Headings }}
      <li><a @click="activeLink = '{{ .ID }}'" href="#{{ anchorize .ID }}" :class="{ 'toc-active': activeLink === '{{ .ID }}' }">{{ .Title | safeHTML }}</a></li>
      {{- if .Headings }}
      <ul class="subheading">
        {{- range $index2, $h3 := .Headings }}
        <li><a @click="activeLink = '{{ .ID }}'" href="#{{ anchorize .ID }}" :class="{ 'toc-active': activeLink === '{{ .ID }}' }">{{ .Title | safeHTML }}</a></li>
        {{- end }}
      </ul>
      {{- end }}
      {{- end }}
    </ul>
    {{- end }}
  </nav>
</div>
