{{ define "main" }}
<div class="row justify-content-center">
  <div class="col-md-12 col-lg-10 col-xl-8">
    <article>
      <div class="blog-header">
        <h1>{{ .Title }}</h1>
        {{ partial "main/blog-meta.html" . }}
      </div>
      {{ .Content }}
    </article>
  </div>
</div>

<div>  
<!-- <script src="https://platform.linkedin.com/in.js" type="text/javascript">lang: en_US</script><script type="IN/Share" data-url= {{ .Permalink }} data-size="large" ></script> -->
<a href="https://twitter.com/share?ref_src=twsrc%5Etfw" class="twitter-share-button" data-size="large" data-show-count="false">Tweet</a><script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script>

<button onclick="copyLink({{ .Permalink }})" class="btn btn-outline-dark">Copy Url</button>


<script>
  function copyLink(link) {  
  navigator.clipboard.writeText(link);  
}
</script>
</div>
{{ end }}