.footer {
  background-color: $primary;
  margin-top: auto;
}

.footer ul {
  margin-bottom: 0;
}

.footer li {
  color: $brand-black;
  font-size: $font-size-sm;
  margin-bottom: 0;
}

@include media-breakpoint-up(md) {
  .footer li {
    font-size: $font-size-base;
  }
}

.footer__social {
  padding-bottom: 1rem;
  border-bottom: 1px solid $brand-black;
}

@include media-breakpoint-up(lg) {
  .footer__social {
    padding-bottom: 0;
    border-bottom: none;
  }
}
