.footer {
  padding-top: 114px;
  padding-bottom: 28px;
}

.footer__logo {
  width: 250px;
}

.footer__info {
  margin-bottom: 48px;
}

.footer__menu-title {
  font-size: 1.125rem;
  font-weight: 700;
  color: #000000;
  margin-bottom: 20px;
}

.footer__menu {
  margin-bottom: 32px;
}

.footer ul {
  margin-bottom: 0;
}

.footer li {
  margin-bottom: 4px;
}

.footer__menu-link {
  font-size: 0.875rem;
  color: #000000;
  line-height: 1.8;
}

.footer__social-wrapper {
  text-align: center;
  padding-top: 40px;
}

.footer__social {
  padding-bottom: 1rem;
  border-bottom: 1px solid $brand-black;
}

@include media-breakpoint-up(lg) {
  .footer__navigation {
    flex: 1 1 0%;
  }

  .footer__menu-wrapper {
    width: 85%;
  }

  .footer__menu {
    margin-bottom: 0;
  }

  .footer__info {
    width: 37%;
    flex: none;
    margin-bottom: 0;
  }

  .footer__social {
    padding-bottom: 0;
    border-bottom: none;
  }
}

.footer__copyright {
  color: #222222;
  font-size: 0.875rem;
  font-weight: 300;
  padding-top: 104px;
}

.footer__copyright a {
  color: #222222;
  text-decoration: underline;
}