.footer {
  padding-top: 46px;
  padding-bottom: 28px;
}

.footer__logo {
  width: 250px;
}

.footer__info {
  margin-bottom: 56px;
  order: 2;
}

.footer__navigation {
  order: 1;
}

@include media-breakpoint-up(lg) {
  .footer {
    padding-top: 64px;
  }

  .footer__logo {
    width: 200px;
  }

  .footer__info {
    order: 1;
  }

  .footer__navigation {
    order: 2;
  }
}

@include media-breakpoint-up(xxl) {
  .footer {
    padding-top: 84px;
  }
}

.footer__menu-title {
  font-size: 1.125rem;
  font-weight: 700;
  color: #000000;
  margin-bottom: 20px;
}

.footer__menu {
  margin-bottom: 32px;
  text-align: center;
}

.footer ul {
  margin-bottom: 0;
}

.footer li {
  margin-bottom: 4px;
}

.footer__menu-link {
  font-size: 0.875rem;
  color: #000000;
  line-height: 1.8;
}

.footer__social-wrapper {
  text-align: center;
  padding-top: 24px;
}

.footer__social {
  gap: 13px;
}

.footer__social .nav-link {
  width: 20px;
  padding: 0;
  margin-left: 0;
  margin-right: 0;
}

.footer__social .nav-link.github {
  width: 24px;
}

.footer__social .nav-link.slack {
  width: 20px;
}

.footer__social .nav-link.twitter {
  width: 24px;
}

.footer__social .nav-link.linkedin {
  width: 24px;
}

.footer__copyright {
  color: #222222;
  font-size: 0.875rem;
  font-weight: 300;
}

.footer__copyright a {
  color: #222222;
  text-decoration: underline;
}

@include media-breakpoint-up(lg) {
  .footer__social .nav-link {
    width: 20px;
  }

  .footer__social .nav-link.github {
    width: 28px;
  }

  .footer__social .nav-link.slack {
    width: 28px;
  }

  .footer__social .nav-link.twitter {
    width: 28px;
  }

  .footer__social .nav-link.linkedin {
    width: 25px;
  }

  .footer__navigation {
    flex: 1 1 0%;
  }

  .footer__menu-title {
    font-size: 1rem;
  }

  .footer__menu {
    text-align: left;
    margin-bottom: 0;
  }

  .footer__info {
    width: 30%;
    flex: none;
    margin-bottom: 0;
  }

  .footer__social {
    padding-bottom: 0;
    border-bottom: none;
  }

  .footer__copyright {
    padding-top: 46px;
  }
}

@include media-breakpoint-up(xl) {
  .footer__social .nav-link {
    width: 22px;
  }

  .footer__social .nav-link.github {
    width: 28px;
  }

  .footer__social .nav-link.slack {
    width: 27px;
  }

  .footer__social .nav-link.linkedin {
    width: 28px;
  }

  .footer__menu-title {
    font-size: 1rem;
  }
}

@include media-breakpoint-up(xxl) {
  .footer__social {
    gap: 17px;
  }

  .footer__social .nav-link {
    width: 32px;
  }

  .footer__social .nav-link.github,
  .footer__social .nav-link.twitter,
  .footer__social .nav-link.slack {
    width: 34px;
  }

  .footer__social .nav-link.linkedin {
    width: 34px;
  }

  .footer__logo {
    width: 301px;
  }

  .footer__menu-title {
    font-size: 1.125rem;
  }

  .footer__menu-link {
    font-size: 1rem;
  }

  .footer__copyright {
    font-size: 1rem;
    padding-top: 46px;
  }
}