.container-xl {
    max-width: 1200px;
}

.container-lg {
    max-width: 1080px;
}

// section hero
.section__hero {
    background-color: #EDEDED;
    border-radius: 0px 0px 0px 64px;
    padding-top: 0;
    padding-bottom: 3rem;
    margin-bottom: 2rem;
}

.section__hero h2 {
    color: $brand-black;
    font-size: 2rem;
}

.section__hero-desc {
    font-weight: 300;
    font-size: 20px;
    color: #222222;
    margin-bottom: 2.5rem;
}

@include media-breakpoint-up(md) {
    .section__hero {
        padding-top: 2rem;
    }
}

@include media-breakpoint-up(lg) {
    .section__hero {
        padding-top: 2rem;
        padding-bottom: 6rem;
        border-radius: 0px 0px 0px 150px;
    }

    .section__hero-desc {
        font-size: 17px;
    }
}

.button-wrapper {
    gap: 32px;
}

.button-primary,
.button-secondary {
    font-size: 1rem;
    border: 0.899709px solid $brand-black;
    box-shadow: -5px 6px 0px #000000;
    border-radius: 8px;
    padding: 10px 60px;
}

.button-hero {
    padding: 10px 25px;
}

.button-big {
    padding: 10px 44px;
}

.button-writers-program {
    padding: 10px 24px;
}

@include media-breakpoint-up(lg) {

    .button-primary,
    .button-secondary {
        padding: 12px 72px;
    }

    .button-big {
        padding: 12px 65px;
    }

    .button-writers-program {
        padding: 12px 40px;
    }
}

.button-primary {
    color: #ffffff;
    background: $primary;
}

.button-primary:hover {
    color: $brand-black;
    text-decoration: none;
    background-color: #D3E5E4;
}

.button-secondary {
    color: $brand-black;
    background: #ffffff;
}

.button-secondary:hover {
    color: $brand-black;
    text-decoration: none;
    background-color: #D3E5E4;
}

.metalbear-hero {
    max-width: 86%;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.metalbear-hero-mobile {
    max-width: 80%;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.hero__image {
    margin-top: -3rem;
    position: relative;
    z-index: 100;
}

.hero__body {
    margin-top: -5.5rem;
    position: relative;
    z-index: 110;
}

@include media-breakpoint-up(md) {
    .hero__body {
        margin-top: 0;
        position: static;
    }
}

@include media-breakpoint-up(lg) {
    .hero__image {
        margin-top: 0;
        position: static;
    }
}

// section waitlist
.section-waitlist {
    padding-top: 0;
    padding-bottom: 0;
    margin-bottom: 2rem;
}

.section-waitlist__header h4 {
    color: $brand-black;
    font-weight: 500;
    font-family: $font-family;
    font-size: 16px;
    text-transform: uppercase;
    text-align: center;
    margin-top: 8px;
    margin-bottom: 1.5rem;
}

.section-waitlist__input-wrapper {
    margin-bottom: 2rem;
}

.section-waitlist__email {
    margin-bottom: 2rem;
}

.section-waitlist__button-wrapper {
    margin-bottom: 1rem;
}

.section-waitlist__entry-error,
.section-newsletter__entry-error {
    font-size: 14px;
    text-align: left;
    font-family: $font-family;
    color: rgb(102, 29, 29);
    background-color: rgb(255, 237, 237);
    border-radius: 10px;
    border-color: rgb(255, 73, 73);
    display: block;
}

.section-waitlist__message-error,
.section-newsletter__message-error {
    font-size: 14px;
    text-align: left;
    font-family: $font-family;
    color: #661d1d;
    background-color: #ffeded;
    border-radius: 10px;
    border: 1px solid #ff4949;
}

.section-waitlist__message-error svg,
.section-newsletter__message-error svg {
    fill: #661d1d;
}

.section-waitlist__message-success,
.section-newsletter__message-success {
    font-size: 14px;
    text-align: left;
    font-family: $font-family;
    color: #085229;
    background-color: #e7faf0;
    border-radius: 10px;
    border: 1px solid #13ce66;
}

.section-waitlist__message-success svg,
.section-newsletter__message-success svg {
    fill: #085229;
}

@include media-breakpoint-up(lg) {
    .section-waitlist {
        transform: translateY(-4rem);
        margin-bottom: -1rem;
    }

    .section-waitlist__header h4 {
        font-size: 22px;
    }

    .section-waitlist__email {
        margin-bottom: 2.5rem;
    }

    .section-waitlist__button-wrapper {
        margin-bottom: 1.5rem;
    }
}

.section-waitlist__form-wrapper {
    text-align: center;
    background-color: #ffffff;
    max-width: 640px;
    border: 1px solid $brand-black;
    box-shadow: -5px 6px 0px #000000;
    border-radius: 9px;
    margin-left: auto;
    margin-right: auto;
}

.section-waitlist__message {
    max-width: 640px;
    margin-left: auto;
    margin-right: auto;
}

.section-waitlist__input {
    font-size: 1rem;
    border: 1px solid $brand-black;
    border-radius: 4px;
    width: 100%;
}

.section-waitlist__input:focus {
    border-color: $primary;
    outline: 0 none;
}

.section-waitlist__input::-webkit-input-placeholder,
.section-newsletter__input::-webkit-input-placeholder {
    color: $brand-black;
    opacity: 1;
    /* Firefox */
}

.section-waitlist__input::-moz-placeholder,
.section-newsletter__input::-moz-placeholder {
    color: $brand-black;
    opacity: 1;
    /* Firefox */
}

.section-waitlist__input::-ms-input-placeholder,
.section-newsletter__input::-ms-input-placeholder {
    /* Microsoft Edge */
    color: $brand-black;
}

.section-waitlist__button {
    padding: 10px 30px;
}


// section newsletter
.section-newsletter {
    padding-top: 0;
    padding-bottom: 0;
}

.section-newsletter__wrapper {
    max-width: 680px;
    margin-left: auto;
    margin-right: auto;
}

.section-newsletter__header {
    padding-left: 0;
    padding-right: 0;
    margin-bottom: 1.5rem;
}

.section-newsletter__header h4 {
    color: $brand-black;
    font-weight: 500;
    font-family: $font-family;
    font-size: 18px;
    text-transform: uppercase;
    text-align: center;
    margin-top: 8px;
    margin-bottom: 1.5rem;
}

.section-newsletter__email {
    min-width: 326px;
}

.section-newsletter__input.input {
    width: 100%;
}

.section-newsletter__button-wrapper {
    right: 0;
    transform: translateY(-50%);
    margin-right: -1px;
}

.section-newsletter__button {
    color: white;
    padding: 0 10px;
    background-color: #F46262;
    line-height: 40px;
    border: 1px solid #222222;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
    box-sizing: border-box;
}

.section-newsletter__button:hover,
.section-newsletter__button:focus {
    color: #222222;
    background-color: #D3E5E4;
}

.section-newsletter__button svg {
    fill: currentColor;
    margin-bottom: 6px;
    width: 20px;
}

@include media-breakpoint-up(lg) {
    .section-newsletter {
        padding-top: 2rem;
        padding-bottom: 1rem;
    }

    .section-newsletter__logo {
        transform: translateX(9%);
    }

    .section-newsletter__form {
        transform: translateX(-7%);
    }

    .section-waitlist__input {
        border-radius: 10px;
    }

    .section-newsletter__logo img {
        max-width: 100%;
        transform: rotate(-23.56deg);
        width: 160px;
    }

    .section-newsletter__header {
        padding-left: 42px;
        padding-right: 42px;
    }

    .section-newsletter__header h4 {
        font-size: 22px;
    }

    .section-waitlist__form-wrapper {
        border-radius: 25px;
    }

    .section-newsletter__button {
        padding: 0 12px;
        line-height: 57px;
    }

    .section-newsletter__button svg {
        width: 27px;
    }
}

.section-newsletter__form-wrapper {
    text-align: center;
    margin-left: auto;
    margin-right: auto;
}

.section-newsletter__message {
    max-width: 640px;
    margin-left: auto;
    margin-right: auto;
}

.section-newsletter__form-wrapper .input {
    font-size: 1rem;
    border: 1px solid $brand-black;
    border-radius: 10px;
}

.section-newsletter__form-wrapper .input:focus {
    border-color: $primary;
    outline: 0 none;
}

// section blog
.section__blog {
    background: #D3E5E4;
    border-top-right-radius: 64px;
    padding-top: 3rem;
}

.section__blog-title {
    color: $brand-black;
    font-size: 22px;
}

@include media-breakpoint-up(lg) {
    .section__blog {
        border-top-right-radius: 150px;
        padding-top: 5rem;
        padding-bottom: 8rem;
    }

    .section__blog-title {
        font-size: 28px;
    }

    .section-waitlist__button {
        padding: 12px 64px;
    }
}

// section blog
.section__blog .blog-card,
.blog-list__wrapper .blog-card {
    text-align: center;
}

.section__blog .blog-card {
    height: 100%;
}

.section__blog .blog-card h3,
.blog-list__wrapper .blog-card h3 {
    color: $brand-black;
    font-family: $font-family;
    font-size: 1.125rem;
    font-weight: 600;
}

.section__blog .blog-card .summary,
.blog-list__wrapper .blog-card .summary {
    color: $brand-black;
    font-family: $font-family;
    font-weight: 300;
    font-size: 14px;
}

@include media-breakpoint-up(lg) {

    .section__blog .blog-card h3,
    .blog-list__wrapper .blog-card h3 {
        font-size: 1.3rem;
    }

    .section__blog .blog-card .summary,
    .blog-list__wrapper .blog-card .summary {
        font-size: 1rem;
    }
}

.section__blog .btn-reading {
    font-size: 1rem;
    z-index: 100;
    padding: 10px 16px;
}

.blog-card__summary {
    font-size: 1rem;
    margin-bottom: 16px;
}

.blog-card__meta {
    color: $brand-black;
    font-style: italic;
    font-weight: 300;
    font-size: 16px;
}

.section__blog .block-card__footer {
    border-top: 1px solid $brand-black;
    min-height: 110px;
}

.blog-card__meta-link {
    color: $brand-black;
    text-decoration: underline;
    z-index: 10;
}

.section__newsletter {
    padding-top: 0;
    padding-bottom: 2rem;
}

@include media-breakpoint-up(md) {
    .section__newsletter {
        padding-top: 2rem;
        padding-bottom: 1rem;
    }

    .section__newsletter-logo {
        transform: translateX(5%);
    }

    .section__newsletter-logo img {
        max-width: 100%;
        transform: rotate(-23.56deg);
        width: 160px;
    }

    .section__blog .block-card__footer {
        min-height: 124px;
    }

    .section__blog .btn-reading {
        padding: 12px 32px;
    }
}

.section__newsletter #sib-container {
    background-color: transparent;
}

.newsletter__header h4 {
    color: $brand-black;
    font-weight: 500;
    font-family: $font-family;
    font-size: 16px;
    text-transform: uppercase;
    text-align: center;
    margin-top: 8px;
}

.section__writer-program {
    max-width: 740px;
    margin-left: auto;
    margin-right: auto;
}

.section__community {
    background-color: $brand-black;
    border-radius: 0px 0px 0px 64px;
    padding-top: 3rem;
    padding-bottom: 0;
}

@include media-breakpoint-up(lg) {
    .section__community {
        padding-bottom: 0;
        border-radius: 0px 0px 0px 150px;
    }

    .newsletter__header h4 {
        font-size: 20px;
    }
}

.community__wrapper {
    max-width: 740px;
    margin-left: auto;
    margin-right: auto;
}

.section__community-title,
.section__community-desc {
    color: #ffffff;
}

.section__community-desc {
    font-size: 20px;
    font-weight: 300;
    margin-bottom: 1.5rem;
}

.section__community-title {
    font-size: 2rem;
}

@include media-breakpoint-up(md) {
    .section__community-title {
        font-size: 2.5rem;
    }

    .section__community-desc {
        font-size: 24px;
    }
}

.section__community .button-wrapper {
    margin-bottom: 4rem;
}

.join-community__col-img {
    top: 0;
    right: 0;
    width: 40%;
    height: 100%;
}

.join-community-logo-mobile {
    margin-left: auto;
    max-width: 80%;
}

.join-community-logo {
    display: none;
}

@include media-breakpoint-up(md) {
    .join-community-logo-mobile {
        margin-right: auto;
        max-width: 100%;
    }
}

@include media-breakpoint-up(lg) {
    .join-community-logo-mobile {
        display: none;
    }

    .join-community-logo {
        max-width: 140%;
        display: block;
        margin-right: auto;
        transform: translateX(-5rem);
    }
}

.section__contact {
    padding-top: 1rem;
    padding-bottom: 1rem;
}

.section__contact-title {
    color: $brand-black;
    font-size: 1.125rem;
}

.section__contact-desc {
    font-size: 1rem;
}


// sibform
#sib-container.waitlist__box {
    text-align: center;
    background-color: #ffffff;
    max-width: 640px;
    border: 0.899709px solid $brand-black;
    box-shadow: -5px 6px 0px #000000;
    border-radius: 8.99709px;
    padding: 1.5rem 0.5rem;
}

.sib-form-block.waitlist__header {
    padding: 0;
}

.sib-form .entry__field.field__email {
    border: 0.359223px solid $brand-black;
    border-radius: 10px;
}

.sib-form .entry__field.field__email .input::-webkit-input-placeholder,
.sib-form .entry__field.blog-single__input .input::-webkit-input-placeholder {
    color: $brand-black;
    opacity: 1;
    /* Firefox */
}

.sib-form .entry__field.field__email .input::-moz-placeholder,
.sib-form .entry__field.blog-single__input .input::-moz-placeholder {
    color: $brand-black;
    opacity: 1;
    /* Firefox */
}

.sib-form .entry__field.field__email .input::-ms-input-placeholder,
.sib-form .entry__field.blog-single__input .input::-ms-input-placeholder {
    /* Microsoft Edge */
    color: $brand-black;
}

.sib-form .entry__field.field__email .input {
    color: $brand-black;
    font-family: $font-family;
    padding: 0 1rem;
}

.sib-form-block__button.button-primary {
    font-family: $font-family;
    padding-left: 40px;
    padding-right: 40px;
}

.sib-form-block__button.button-primary {
    font-family: $font-family;
    padding: 10px 30px;
    border: 1px solid $brand-black;
}

.sib-form-block.newsletter__header {
    padding-left: 40px;
    padding-right: 40px;
}

.section__newsletter-form.sib-form {
    text-align: center;
    padding: 0;
}

.newsletter__field .sib-form-block__button {
    padding: 0 6px;
    background-color: $primary;
    line-height: 38px;
    border: 1px solid $brand-black;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
    box-sizing: border-box;
    right: 0;
    transform: translateY(-50%);
    margin-right: -1px;
}

.newsletter__field .sib-form-block__button:hover {
    color: $brand-black;
    background-color: #D3E5E4;
}

.newsletter__field .sib-form-block__button svg {
    color: white;
    margin-bottom: 6px;
    width: 20px;
}

.newsletter__field .sib-form-block__button:hover svg {
    color: $brand-black;
}

.newsletter__field .sib-form-block__button svg {
    margin-bottom: 6px;
}

@include media-breakpoint-up(md) {
    .section__newsletter-form.sib-form {
        text-align: center;
        padding: 0;
        transform: translateX(-5%);
    }
}


@include media-breakpoint-up(lg) {
    #sib-container.waitlist__box {
        padding: 2rem 3rem;
    }

    .sib-form-block__button.button-primary {
        padding: 12px 64px;
    }

    .sib-form .entry__field.field__email .input {
        padding: 0.5rem 2rem;
    }

    .newsletter__field .sib-form-block__button {
        padding: 0 12px;
        line-height: 54px;
    }

    .newsletter__field .sib-form-block__button svg {
        width: 27px;
    }
}