.container-xl {
    max-width: 1240px;
}

.container-lg {
    max-width: 1024px;
}

.home {
    background-color: #FAFAFD;
}

.rotating-text {
    position: absolute;
    left: 0;
    width: 100%;
    opacity: 0;
    transform: translateY(50px);
    transition: transform 0.6s ease-in-out, opacity 0.6s ease-in-out;
}

.rotating-text.active {
    opacity: 1;
    transform: translateY(0);
}

.rotating-text.exit {
    opacity: 0;
    transform: translateY(-50px);
}

.splide-brand__item {
    display: flex;
    align-items: center;
}

// .splide-brand__item img {
//     width: 50%;
// }

.splide-story .splide__pagination {
    bottom: -14px;
}

.splide__pagination__page {
    color: #ACACAC;
    width: 11px;
    height: 11px;
}

.splide__pagination__page.is-active {
    background: #756DF3;
    transform: scale(1);
    z-index: 1;
}

.home-arrow {
    translate: -24px;
    height: 140px;
}

.home-arrow__image-wrapper {
    width: 55%;
    margin-left: auto;
    margin-right: auto;
}

@include media-breakpoint-up(md) {
    .home-arrow {
        height: 200px;
    }
}

@include media-breakpoint-up(lg) {
    .home-arrow {
        height: 170px;
    }

    .home-arrow__image-wrapper {
        padding-bottom: 21px;
        margin-left: 0;
        margin-right: 0;
    }

    .home-arrow__image {
        width: 326px;
    }
}

@include media-breakpoint-up(xl) {
    .home-arrow {
        height: 213px;
    }

    .home-arrow__image-wrapper {
        padding-bottom: 27px;
    }

    .home-arrow__image {
        width: 408px;
    }
}

@include media-breakpoint-up(xxl) {
    .home-arrow {
        height: 286px;
    }

    .home-arrow__image-wrapper {
        padding-bottom: 36px;
    }

    .home-arrow__image {
        width: 548px;
    }
}

.homepage {
    overflow: hidden;
}

.section-title {
    font-size: 2rem;
    color: #222222;
    margin-top: 0;
    margin-bottom: 25px;
}

.section-content p {
    font-size: 1rem;
    color: #222222;
    margin-bottom: 25px;
}

.section-button {
    color: #222222;
    font-size: 1rem;
    background-color: #FFFFFF;
    border: 1px solid $brand-black;
    text-decoration: none;
    display: inline-block;

    box-shadow: -5px 5px 0px #000000;
    border-radius: 8px;
    padding: 11px 21px;
}

.section-button:hover {
    text-decoration: none;
    background-color: #D3E5E4;
}

.section-button-primary {
    color: #FFFFFF;
    background-color: #F36869;
    min-width: 198px;
}

.cta-button-primary {
    color: #FFFFFF;
    background-color: #F36869;
    min-width: 138px;
}


.button-wrapper {
    gap: 32px;
}

// .button-primary,
// .button-secondary {
//     font-size: 1rem;
//     border: 1px solid $brand-black;
//     box-shadow: -5px 6px 0px #000000;
//     border-radius: 8px;
//     padding: 11px 21px;
//     display: inline-block;
// }

// .button-primary {
//     color: #ffffff;
//     background: $primary;
// }

// .button-primary:hover {
//     color: $brand-black;
//     text-decoration: none;
//     background-color: #D3E5E4;
// }

// .button-secondary {
//     color: $brand-black;
//     background: #ffffff;
// }

// .button-secondary:hover {
//     color: $brand-black;
//     text-decoration: none;
//     background-color: #D3E5E4;
// }

.button-hero {
    padding: 10px 25px;
}

.button-big {
    padding: 10px 44px;
}

.button-writers-program {
    padding: 10px 24px;
}

@include media-breakpoint-up(md) {
    .section-title {
        font-size: 2.1875rem;
        margin-bottom: 25px;
    }

    .section-content p {
        font-size: 1rem;
        margin-bottom: 25px;
    }

    .section-button {
        font-size: 1rem;
        box-shadow: -6px 6px 0px #000000;
        border-radius: 9px;
        padding: 11px 21px;
    }

    .section-button-primary {
        min-width: 198px;
    }

    .cta-button-primary {
        min-width: 138px;
    }

    // .button-primary,
    // .button-secondary {
    //     font-size: 1rem;
    //     box-shadow: -6px 6px 0px #000000;
    //     border-radius: 9px;
    //     padding: 11px 21px;
    // }

    .button-big {
        padding: 12px 65px;
    }

    .button-writers-program {
        padding: 12px 40px;
    }
}

@include media-breakpoint-up(lg) {
    .section-title {
        font-size: 1.8125rem;
        margin-bottom: 33px;
    }

    .section-content p {
        font-size: 1rem;
        margin-bottom: 33px;
    }

    .section-button {
        font-size: 1rem;
        box-shadow: -5px 5px 0px #000000;
        border-radius: 9px;
        padding: 14px 27px;
    }

    .section-button-primary {
        min-width: 264px;
    }

    .cta-button-primary {
        min-width: 183px;
    }

    // .button-primary,
    // .button-secondary {
    //     font-size: 1rem;
    //     box-shadow: -5px 5px 0px #000000;
    //     border-radius: 9px;
    //     padding: 14px 27px;
    // }

    .button-big {
        padding: 12px 65px;
    }

    .button-writers-program {
        padding: 12px 40px;
    }
}

@include media-breakpoint-up(xl) {
    .section-title {
        font-size: 2.1875rem;
        margin-bottom: 40px;
    }

    .section-content p {
        font-size: 1.25rem; //20px
        margin-bottom: 40px;
    }

    .section-button {
        font-size: 1.25rem;
        box-shadow: -6px 6px 0px #000000;
        border-radius: 11px;
        padding: 17px 33px;
    }

    .section-button-primary {
        min-width: 320px;
    }

    .cta-button-primary {
        min-width: 222px;
    }

    // .button-primary,
    // .button-secondary {
    //     font-size: 1.25rem;
    //     box-shadow: -6px 6px 0px #000000;
    //     border-radius: 11px;
    //     padding: 17px 33px;
    // }

    .button-big {
        padding: 12px 65px;
    }

    .button-writers-program {
        padding: 12px 40px;
    }
}

// section hero
.section__hero {
    background-color: #F36869;
    border-radius: 0px 0px 0px 64px;
    padding-top: 30px;
    padding-bottom: 3rem;
    padding-left: 1em;
    padding-right: 1em;
}

.hero-bg-top-wrapper {
    width: 25%;
}

.hero-bg-bottom-wrapper {
    width: 20%;
}

.section__hero-body {
    padding-left: 0;
    padding-right: 0;
}

.section__hero h2 {
    color: $brand-black;
    font-size: 2rem;
}

.section__hero-desc {
    font-weight: 400;
    font-size: 1rem; // 16px
    color: #FFFFFF;
    margin-bottom: 56px;
}

.hero-image-wrapper {
    width: 75%;
    margin-left: auto;
    margin-right: auto;
    padding-top: 56px;
}

@include media-breakpoint-up(md) {
    .section__hero {
        padding-top: 56px;
        padding-bottom: 56px;
        padding-left: 1.5em;
        padding-right: 1.5em;
        border-radius: 0px 0px 0px 78px;
    }

    .hero-image-wrapper {
        width: 65%;
        padding-top: 0;
    }

    .section__hero h2 {
        font-size: 3.25rem; //52px
    }

    .section__hero-desc {
        font-size: 1.25rem; // 20px
    }
}

@include media-breakpoint-up(lg) {
    .hero-bg-top-wrapper {
        width: 267px;
    }

    .hero-bg-bottom-wrapper {
        width: 153px;
    }

    .section__hero {
        padding-top: 74px;
        padding-bottom: 74px;
        border-radius: 0px 0px 0px 104px;
    }

    .section__hero h2 {
        font-size: 2.5625rem; // 41px
    }

    .section__hero-desc {
        font-size: 1rem;
        margin-bottom: 46px;
    }

    .hero-image-wrapper {
        width: 90%;
    }
}

@include media-breakpoint-up(xl) {
    .section__hero {
        padding-top: 90px;
        padding-bottom: 90px;
        padding-left: 0;
        padding-right: 0;
        border-radius: 0px 0px 0px 126px;
    }

    .section__hero h2 {
        font-size: 3.125rem; // 50px
    }

    .section__hero-desc {
        font-size: 1.25rem; // 20px
        margin-bottom: 56px;
    }
}

// section 2
.section-2 {
    padding-top: 77px;
    padding-bottom: 44px;
}

.section-2-image-wrapper {
    width: 70%;
    margin-left: auto;
    margin-right: auto;
}

@include media-breakpoint-up(md) {
    .section-2 {
        padding-top: 77px;
        padding-bottom: 44px;
    }
}

@include media-breakpoint-up(lg) {
    .section-2 {
        padding-top: 103px;
        padding-bottom: 58px;
    }

    .section-2-image-wrapper {
        width: 80%;
        transform: translateX(-4%);
        margin-left: 0;
    }
}

@include media-breakpoint-up(xl) {
    .section-2 {
        padding-top: 125px;
        padding-bottom: 70px;
    }
}

// section 3
.section-3 {
    background-color: #FBFBFD;
    border-radius: 0px 0px 0px 64px;
    padding-top: 44px;
    padding-bottom: 0;
}

.section-3-wrapper {
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    padding-bottom: 30px;
}

.section-3-bg-wrapper {
    width: 20%;
}

@include media-breakpoint-up(md) {
    .section-3 {
        border-radius: 0px 78px 0px 0px;
        padding-top: 44px;
    }

    .section-3-wrapper {
        width: 100%;
        padding-bottom: 30px;
    }
}

@include media-breakpoint-up(lg) {
    .section-3 {
        border-radius: 0px 104px 0px 0px;
        padding-top: 58px;
    }

    .section-3-wrapper {
        width: 60%;
        padding-bottom: 40px;
    }
}

@include media-breakpoint-up(xl) {
    .section-3 {
        border-radius: 0px 126px 0px 0px;
        padding-top: 70px;
    }

    .section-3-wrapper {
        width: 60%;
        padding-bottom: 48px;
    }
}

// section 4
.section-4 {
    padding-top: 74px;
    padding-bottom: 40px;
}

.section-4-wrapper {
    width: 100%;
    margin-left: auto;
    margin-right: auto;
}

@include media-breakpoint-up(md) {
    .section-4 {
        padding-top: 74px;
        padding-bottom: 48px;
    }
}

@include media-breakpoint-up(lg) {
    .section-4 {
        padding-top: 99px;
        padding-bottom: 90px;
    }

    .section-4-wrapper {
        width: 85%;
    }
}

@include media-breakpoint-up(xl) {
    .section-4 {
        padding-top: 120px;
        padding-bottom: 110px;
    }
}

// section blog
.section__blog {
    background: #D3E5E4;
    border-top-left-radius: 64px;
    padding-top: 74px;
    padding-bottom: 74px;
}

.section-blog-bg-wrapper {
    width: 28%;
}

.section-blog-logo-wrapper {
    transform: translateY(50%);
    width: 20%;
}

.section__blog-header {
    margin-bottom: 60px;
}

.section__blog-row {
    margin-bottom: 30px;
}

.section__blog .blog-card {
    width: 87%;
    height: 100%;
    margin-left: auto;
    margin-right: auto;
}

.section__blog .blog-card {
    text-align: center;
}

.section__blog .blog-card h3 {
    color: $brand-black;
    font-family: $font-family;
    font-size: 1.25rem; //18px
    font-weight: 600;
    line-height: 1.5;
    margin-top: 0;
}

.section__blog .btn-reading {
    font-size: 0.8125rem; //13px
    z-index: 100;
    padding: 8px 27px;
    box-shadow: -4.3px 3.6px 0px #000000;
    border-radius: 4px;
}

.blog-card__summary {
    margin-bottom: 16px;
}

.blog-card__meta {
    color: $brand-black;
    font-style: italic;
    font-weight: 300;
    font-size: 0.8125rem; //13px
}

.section__blog .block-card__footer {
    border-top: 1px solid $brand-black;
    min-height: 90px;
}

.blog-card__meta-link {
    color: $brand-black;
    text-decoration: underline;
    z-index: 10;
}

.section__blog .blog-card .summary {
    color: $brand-black;
    font-family: $font-family;
    font-weight: 300;
    font-size: 1rem;
}

@include media-breakpoint-up(md) {
    .section__blog {
        border-top-left-radius: 78px;
        padding-top: 74px;
        padding-bottom: 74px;
    }

    .section__blog-header {
        margin-bottom: 73px;
    }

    .section__blog-row {
        margin-bottom: 40px;
    }

    .section__blog .blog-card h3 {
        font-size: 1.25rem; //20px
    }

    .section__blog .blog-card .summary {
        font-size: 1rem; //16px
    }

    .section__blog .btn-reading {
        font-size: 0.8125rem;
        padding: 8px 27px;
        box-shadow: -4.3px 3.6px 0px #000000;
        border-radius: 5px;
    }

    .section__blog .block-card__footer {
        min-height: 90px;
    }
}

@include media-breakpoint-up(lg) {
    .section__blog {
        border-top-left-radius: 104px;
        padding-top: 99px;
        padding-bottom: 99px;
    }

    .section__blog-header {
        margin-bottom: 97px;
    }

    .section__blog-row {
        margin-bottom: 120px;
    }

    .section__blog .blog-card h3 {
        font-size: 1.25rem; //20px
    }

    .section__blog .blog-card .summary {
        font-size: 1rem;
    }

    .blog-card__meta {
        font-size: 1rem;
    }

    .section__blog .btn-reading {
        font-size: 1.032258065rem;
        padding: 10px 36px;
        box-shadow: -5.2px 4.6px 0px #000000;
        border-radius: 6px;
    }

    .section__blog .block-card__footer {
        min-height: 120px;
    }
}

@include media-breakpoint-up(xl) {
    .section__blog {
        border-top-left-radius: 126px;
        padding-top: 120px;
        padding-bottom: 120px;
    }

    .section__blog-header {
        margin-bottom: 118px;
    }

    .section__blog-row {
        margin-bottom: 144px;
    }

    .section__blog .blog-card h3 {
        font-size: 1.5rem;  //24px
    }

    .section__blog .blog-card .summary {
        font-size: 1.25rem; //20px
    }

    .section__blog .btn-reading {
        font-size: 1.25rem;
        padding: 12px 44px;
        box-shadow: -6.3px 5.6px 0px #000000;
        border-radius: 7px;
    }

    .section__blog .block-card__footer {
        min-height: 145px;
    }
}

// section 6
.section-6 {
    padding-top: 87px;
    padding-bottom: 84px;
}

.section-6-header {
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 36px;
}

.community-card__col {
    margin-bottom: 20px;
}

.community-card {
    background-color: #FBFBFD;
    height: 100%;
    padding: 28px 25px 25px 12px;
    border: 1px solid #FBFBFD;
    border-radius: 5px;
    margin-bottom: 20px;
}

.community-card:hover {
    border: 1px solid #000000;
    box-shadow: -5px 6px 0px #000000;
}

.community-card__header h3 {
    font-size: 1.125rem; //18px
    color: #222222;
    margin-top: 5px;
    margin-bottom: 24px;
}

.community-card__content p {
    font-size: 1rem;
    font-weight: 300;
    margin-bottom: 0;
}

.community-card__body {
    padding-left: 12px;
}

@include media-breakpoint-up(md) {
    .section-6 {
        padding-top: 87px;
        padding-bottom: 84px;
    }

    .section-6-header {
        width: 65%;
        margin-bottom: 36px;
    }

    .community-card__header {
        min-height: 73px;
    }

    .community-card {
        border-radius: 5px;
        padding: 28px 25px 25px 12px;
    }

    .community-card:hover {
        border: 1px solid #000000;
        box-shadow: -5px 6px 0px #000000;
    }

    .community-card__header h3 {
        font-size: 1.25rem; //20px
        margin-top: 5px;
        margin-bottom: 35px;
    }

    .community-card__body {
        padding-left: 12px;
    }

    .community-card__content p {
        font-size: 1rem;
    }
}

@include media-breakpoint-up(lg) {
    .section-6 {
        padding-top: 116px;
        padding-bottom: 112px;
    }

    .section-6-header {
        width: 65%;
        margin-bottom: 48px;
    }

    .community-card__header {
        min-height: 30px;
    }

    .community-card__col {
        margin-bottom: 20px;
    }

    .community-card {
        border-radius: 7px;
        padding: 37px 33px 33px 16px;
    }

    .community-card:hover {
        border: 1px solid #000000;
        box-shadow: -7px 8px 0px #000000;
    }

    .community-card__header h3 {
        font-size: 1.375rem; //22px
        margin-top: 7px;
        margin-bottom: 46px;
    }

    .community-card__body {
        padding-left: 16px;
    }

    .community-card__content p {
        font-size: 1rem;
    }
}

@include media-breakpoint-up(xl) {
    .section-6 {
        padding-top: 140px;
        padding-bottom: 135px;
    }

    .section-6-header {
        margin-bottom: 58px;
    }

    .community-card {
        padding: 45px 40px 40px 20px;
        border-radius: 8px;
        min-height: 425px;
        transition-property: all;
        transition-duration: 300ms;
        transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    }

    .community-card:hover {
        border: 1px solid #000000;
        box-shadow: -8px 10px 0px #000000;
    }

    .community-card__header h3 {
        font-size: 1.625rem;  //24px
        margin-top: 8px;
        margin-bottom: 56px;
    }

    .community-card__body {
        padding-left: 20px;
    }

    .community-card__content p {
        font-size: 1.25rem; //20px
    }
}

// section 7
.section-7-wrapper {
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    border: 1px solid #000000;
    padding: 10px 10px 20px;
    box-shadow: -5px 7px 0px #000000;
    border-radius: 5px;
}

.section-7-cover {
    background-color: #D3E5E4;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    margin-bottom: 24px;
}

.section-7-header {
    width: 70%;
    margin-bottom: 20px;
    margin-left: auto;
    margin-right: auto;
}

.section-7-footer-text {
    padding-top: 28px;
    color: #222222;
    font-size: 12px;
}

.text-underline {
    color: #222222;
    text-decoration: underline;
}

@include media-breakpoint-up(md) {
    .section-7-wrapper {
        width: 90%;
        padding: 15px 15px 30px;
        box-shadow: -6px 8px 0px #000000;
        border-radius: 6px;
    }

    .section-7-cover {
        border-top-left-radius: 6px;
        border-top-right-radius: 6px;
        margin-bottom: 29px;
    }

    .section-7-header {
        width: 100%;
        margin-bottom: 25px;
    }

    .section-7-footer-text {
        padding-top: 28px;
        font-size: 14px;
    }
}

@include media-breakpoint-up(lg) {
    .section-7-wrapper {
        width: 66%;
        padding: 20px 20px 40px;
        box-shadow: -8px 10px 0px #000000;
        border-radius: 7px;
    }

    .section-7-cover {
        border-top-left-radius: 8px;
        border-top-right-radius: 8px;
        margin-bottom: 38px;
    }

    .section-7-header {
        margin-bottom: 33px;
    }

    .section-7-footer-text {
        padding-top: 37px;
        font-size: 1rem;
    }
}

@include media-breakpoint-up(xl) {
    .section-7-wrapper {
        padding: 24px 24px 48px;
        box-shadow: -10px 12px 0px #000000;
        border-radius: 9px;
    }

    .section-7-cover {
        border-top-left-radius: 9px;
        border-top-right-radius: 9px;
        margin-bottom: 46px;
    }

    .section-7-header {
        margin-bottom: 40px;
    }

    .section-7-footer-text {
        padding-top: 45px;
    }
}

//popup
.section-7 {
    padding-bottom: 30px;
}

.section-newsletter {
    display: none;
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    z-index: 10000;
    background-color: rgba(34, 34, 34, 0.9);
}

.section-newsletter-popup {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.section-newsletter__wrapper {
    width: 94%;
    margin-left: auto;
    margin-right: auto;
    background-color: white;
    border: 1px solid #000000;
    box-shadow: -6px 8px 0px #000000;
    border-radius: 6px;
    cursor: pointer;
}

.section-newsletter__header {
    padding-left: 10px;
    padding-right: 2px;
    margin-bottom: 0.75rem;
}

.section-newsletter__header h4 {
    color: $brand-black;
    font-weight: 500;
    font-family: $font-family;
    font-size: 16px;
    text-transform: uppercase;
    text-align: center;
    margin-top: 8px;
    margin-bottom: 1.5rem;
}

.section-newsletter__logo {
    width: 20%;
    flex: none;
    transform: translateX(32%);
}

.section-newsletter__logo img {
    max-width: 100%;
    transform: rotate(-23.56deg);
}

.section-newsletter__email {
    min-width: 50%;
}

.section-newsletter__input.input {
    width: 100%;
}

.section-newsletter__button-wrapper {
    right: 0;
    transform: translateY(-50%);
    margin-right: -1px;
}

.section-newsletter__button {
    color: white;
    padding: 0 10px;
    background-color: #F46262;
    line-height: 40px;
    border: 1px solid #222222;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
    box-sizing: border-box;
}

.section-newsletter__button:hover,
.section-newsletter__button:focus {
    color: #222222;
    background-color: #D3E5E4;
}

.section-newsletter__button svg {
    fill: currentColor;
    margin-bottom: 6px;
    width: 20px;
}

@include media-breakpoint-up(md) {
    .section-7 {
        padding-bottom: 54px;
    }

    .section-newsletter__header {
        padding-left: 36px;
        padding-right: 36px;
        margin-bottom: 1rem;
    }

    .section-newsletter__header h4 {
        font-size: 18px;
    }

    .section-newsletter__email {
        min-width: 240px;
    }
}

@include media-breakpoint-up(lg) {
    .section-7 {
        padding-bottom: 72px;
    }

    .section-newsletter {
        padding-top: 2rem;
        padding-bottom: 1rem;
    }

    .section-newsletter__logo {
        transform: translateX(9%);
    }

    .section-newsletter__form {
        transform: translateX(-7%);
    }

    .section-waitlist__input {
        border-radius: 10px;
    }

    .section-newsletter__header {
        padding-left: 42px;
        padding-right: 42px;
        margin-bottom: 1.5rem;
    }

    .section-newsletter__header h4 {
        font-size: 22px;
    }

    .section-newsletter__email {
        min-width: 326px;
    }

    .section-waitlist__form-wrapper {
        border-radius: 25px;
    }

    .section-newsletter__button {
        padding: 0 12px;
        line-height: 57px;
    }

    .section-newsletter__button svg {
        width: 27px;
    }
}

.section-newsletter__form-wrapper {
    text-align: center;
    margin-left: auto;
    margin-right: auto;
}

.section-newsletter__message {
    max-width: 640px;
    margin-left: auto;
    margin-right: auto;
}

.section-newsletter__form-wrapper .input {
    font-size: 1rem;
    border: 1px solid $brand-black;
    border-radius: 10px;
}

.section-newsletter__form-wrapper .input:focus {
    border-color: $primary;
    outline: 0 none;
}

.section__newsletter #sib-container {
    background-color: transparent;
}

@include media-breakpoint-up(md) {
    .section-newsletter__wrapper {
        box-shadow: -6px 8px 0px #000000;
        border-radius: 6px;
        padding-top: 57px;
        padding-bottom: 57px;
    }
}

@include media-breakpoint-up(lg) {
    .section-newsletter__wrapper {
        width: 678px;
        box-shadow: -8px 10px 0px #000000;
        border-radius: 7px;
        padding-top: 76px;
        padding-bottom: 76px;
    }
}

@include media-breakpoint-up(xl) {
    .section-7 {
        padding-bottom: 88px;
    }

    .section-newsletter__wrapper {
        width: 820px;
        box-shadow: -10px 12px 0px #000000;
        border-radius: 9px;
        padding-top: 92px;
        padding-bottom: 92px;
    }
}


// sibform
#sib-container.waitlist__box {
    text-align: center;
    background-color: #ffffff;
    max-width: 640px;
    border: 0.899709px solid $brand-black;
    box-shadow: -5px 6px 0px #000000;
    border-radius: 8.99709px;
    padding: 1.5rem 0.5rem;
}

.sib-form-block.waitlist__header {
    padding: 0;
}

.sib-form .entry__field.field__email {
    border: 0.359223px solid $brand-black;
    border-radius: 10px;
}

.sib-form .entry__field.field__email .input::-webkit-input-placeholder,
.sib-form .entry__field.blog-single__input .input::-webkit-input-placeholder {
    color: $brand-black;
    opacity: 1;
    /* Firefox */
}

.sib-form .entry__field.field__email .input::-moz-placeholder,
.sib-form .entry__field.blog-single__input .input::-moz-placeholder {
    color: $brand-black;
    opacity: 1;
    /* Firefox */
}

.sib-form .entry__field.field__email .input::-ms-input-placeholder,
.sib-form .entry__field.blog-single__input .input::-ms-input-placeholder {
    /* Microsoft Edge */
    color: $brand-black;
}

.sib-form .entry__field.field__email .input {
    color: $brand-black;
    font-family: $font-family;
    padding: 0 1rem;
}

.sib-form-block__button.button-primary {
    font-family: $font-family;
    padding-left: 40px;
    padding-right: 40px;
}

.sib-form-block__button.button-primary {
    font-family: $font-family;
    padding: 10px 30px;
    border: 1px solid $brand-black;
}

.sib-form-block.newsletter__header {
    padding-left: 40px;
    padding-right: 40px;
}

.section__newsletter-form.sib-form {
    text-align: center;
    padding: 0;
}

.newsletter__field .sib-form-block__button {
    padding: 0 6px;
    background-color: $primary;
    line-height: 38px;
    border: 1px solid $brand-black;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
    box-sizing: border-box;
    right: 0;
    transform: translateY(-50%);
    margin-right: -1px;
}

.newsletter__field .sib-form-block__button:hover {
    color: $brand-black;
    background-color: #D3E5E4;
}

.newsletter__field .sib-form-block__button svg {
    color: white;
    margin-bottom: 6px;
    width: 20px;
}

.newsletter__field .sib-form-block__button:hover svg {
    color: $brand-black;
}

.newsletter__field .sib-form-block__button svg {
    margin-bottom: 6px;
}

@include media-breakpoint-up(md) {
    .section__newsletter-form.sib-form {
        text-align: center;
        padding: 0;
        transform: translateX(-5%);
    }
}


@include media-breakpoint-up(lg) {
    #sib-container.waitlist__box {
        padding: 2rem 3rem;
    }

    .sib-form-block__button.button-primary {
        padding: 12px 64px;
    }

    .sib-form .entry__field.field__email .input {
        padding: 0.5rem 2rem;
    }

    .newsletter__field .sib-form-block__button {
        padding: 0 12px;
        line-height: 54px;
    }

    .newsletter__field .sib-form-block__button svg {
        width: 27px;
    }
}