.docs-links,
.docs-toc {
  scrollbar-width: thin;
  scrollbar-color: $white $white;
}

.docs-links::-webkit-scrollbar,
.docs-toc::-webkit-scrollbar {
  width: 5px;
}

.docs-links::-webkit-scrollbar-track,
.docs-toc::-webkit-scrollbar-track {
  background: $white;
}

.docs-links::-webkit-scrollbar-thumb,
.docs-toc::-webkit-scrollbar-thumb {
  background: $white;
}

.docs-links:hover,
.docs-toc:hover {
  scrollbar-width: thin;
  scrollbar-color: $gray-200 $white;
}

.docs-links:hover::-webkit-scrollbar-thumb,
.docs-toc:hover::-webkit-scrollbar-thumb {
  background: $gray-200;
}

.docs-links::-webkit-scrollbar-thumb:hover,
.docs-toc::-webkit-scrollbar-thumb:hover {
  background: $gray-200;
}

.docs-links h3,
.page-links h3 {
  text-transform: uppercase;
  font-size: $font-size-base;
  margin: 1.25rem 0 0.5rem;
  padding: 1.5rem 0 0;
}

@include media-breakpoint-up(lg) {

  .docs-links h3,
  .page-links h3 {
    margin: 1.125rem 1.5rem 0.75rem 0;
    padding: 1.375rem 0 0;
  }
}

.docs-links h3:not(:first-child) {
  border-top: 1px solid $gray-200;
}

a.docs-link {
  color: $body-color;
  display: block;
  padding: 0.125rem 0;
  font-size: $font-size-base;
}

.page-links li {
  margin-top: 0.375rem;
  padding-top: 0.375rem;
}

.page-links li ul li {
  border-top: none;
  padding-left: 1rem;
  margin-top: 0.125rem;
  padding-top: 0.125rem;
}

.page-links li:not(:first-child) {
  border-top: 1px dashed $gray-200;
}

.page-links a {
  color: $body-color;
  display: block;
  padding: 0.125rem 0;
  font-size: $font-size-base * 0.9375;
}

.docs-link:hover,
.docs-link.active,
.page-links a:hover {
  text-decoration: none;
  color: $link-color;
}

.nav-link.active,
.dropdown-menu-main .dropdown-item.active,
.docs-link.active {
  font-weight: 500;
}

.docs-links h3.sidebar-link,
.page-links h3.sidebar-link {
  text-transform: none;
  font-size: $font-size-md;
  font-weight: normal;
}

.docs-links h3.sidebar-link a,
.page-links h3.sidebar-link a {
  color: $body-color;
}

.docs-links h3.sidebar-link a:hover,
.page-links h3.sidebar-link a:hover {
  text-decoration: underline;
}


// Sidebar
.blog-single__sidebar {
  position: sticky;
  top: 0;
  height: 100vh;
}

@include media-breakpoint-up(lg) {

  .widget-contributor,
  .widget__share,
  .widget__related-post {
    border-left: 1px solid #EDEDED;
    padding-left: 1.5rem;
  }
}

.widget-contributor__header {
  margin-bottom: 0.5rem;
}

.widget-contributor__header h3 {
  font-size: 1.25rem;
  margin-top: 0;
  margin-bottom: 0;
}

.profile__image {
  border-radius: 100%;
  width: 56px;
  height: 56px;
  object-fit: cover;
  object-position: top;
}

.widget-contributor__name {
  font-size: 18px;
  color: $primary;
}

.widget-contributor .widget-contributor___social-link {
  margin-right: 4px;
}

.widget-contributor__body p {
  font-size: 0.9rem;
  margin-bottom: 0;
}

// Widget share
.widget__share h3,
.widget__related-post h3 {
  color: $brand-black;
}

.sharing-button__link {
  margin-right: 0.5rem;
}

.sharing-button__link:hover {
  text-decoration: none;
}

.related__post {
  border: 1px solid $brand-black;
  border-radius: 7px;
  padding: 1rem 1rem;
  margin-bottom: 1.5rem;
  min-height: 174px;
  background-color: white;
  transition-property: all;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  transition-duration: 300ms;
}

.related__post:hover {
  background: #D0E2E1;
  box-shadow: -5px 6px 0px #000000;
}

.related__post h3 {
  margin-top: 0;
}

.related__post-link {
  color: $brand-black;
  font-size: 1rem;
  font-weight: 500;
}

.related__post-meta {
  font-size: 0.9rem;
  margin-bottom: 0;
}