{{- define "main" }}
<div class="pages">
    <section class="section section__cfp">
        <div class="container-xl flex-wrap flex-md-nowrap">
            <header>
                <h2 class="cfp-program__title">{{ .Params.header_title }}</h2>
            </header>
            <div class="row">
                <div class="col-16 col-lg-10">
                    {{ .Params.header_text | markdownify }}
                    <div class="button-wrapper d-flex justify-content-center justify-content-lg-start pt-3 mt-5">
                        <div class="text-center mb-3">
                            <a class="button-primary button-cfp" target="_blank" href="https://forms.gle/CVSLywGorm5D2jUJA">Submit A
                                Proposal</a>
                        </div>
                    </div>
                </div>
                <div class="col-16 col-lg-6">
                    <div class="cfp-program-header-right position-relative">
                        <div class="cfp-program-image-wrapper position-absolute end-0">
                            <img class="cfp-program-image img-fluid" src="/cpf-program-header.svg" alt="">
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <section class="pt-4 mt-5">
        <div class="container-xl">
            <div class="row mb-4 mb-lg-5">
                {{- range $index, $textbox := .Params.textbox -}}
                <div class="col-16 col-lg-8 cfp-program__card mb-4">
                    <div class="cfp-program__textbox cfp-program__textbox-one pt-4 ps-5 pe-3 pe-lg-4">
                        <header>
                            <div class="cfp-program__textbox-label-wrapper">
                                <span class="cfp-program__textbox-label">{{ .label }}</span>
                            </div>
                            <h3 class="cfp-program__textbox-title">{{ .title }}</h3>
                        </header>
                        <div class="{{ if eq $index 0 }}cfp-program__summary-one{{ end }} pe-4">
                            {{ .content | markdownify }}
                        </div>
                    </div>
                </div>
                {{- end }}
            </div>
        </div>
    </section>

    <section class="pt-lg-4 mt-lg-5">
        <div class="container-xl">
            <div class="px-4">
                <div class="row mb-4 mb-lg-5">
                    <div class="col-16 col-lg-4 how-to-apply-col">
                        <header class="cfp-program__textbox-header text-lg-center">
                            <h3 class="cfp-program__textbox-title how-to-apply__title">How To Apply</h3>
                            <div class="d-lg-none">
                                <svg width="24" height="24" viewBox="0 0 24 24" fill="none"
                                    xmlns="http://www.w3.org/2000/svg">
                                    <path
                                        d="M4.5 13.5L5.5575 12.4425L11.25 18.1275L11.25 3L12.75 3L12.75 18.1275L18.4425 12.4425L19.5 13.5L12 21L4.5 13.5Z"
                                        fill="#222222" />
                                </svg>
                            </div>
                        </header>
                    </div>
                    <div class="col-16 col-lg-12 how-to-apply-col pt-lg-2">
                        {{- range $index, $howto := .Params.how_to_apply -}}
                        <div class="d-flex align-items-start mb-5">
                            <div class="how-to-apply__num">0{{ add $index 1 }}</div>
                            <div>
                                <p>{{ . }}</p>
                            </div>
                        </div>
                        {{- end }}
                    </div>
                </div>
            </div>
            <div class="button-wrapper d-flex justify-content-center pt-2 pt-lg-4 mt-5 mb-5">
                <div class="text-center mb-3">
                    <a class="button-primary button-cfp" target="_blank" href="https://forms.gle/UjXqtDRJNyH9nMkG6">Submit A
                        Proposal</a>
                </div>
            </div>
        </div>
    </section>

    <section class="section section__contact pt-5">
        <div class="container">
            <div id="contact" class="contact-wrapper">
                <h2 class="section__contact-title text-center fw-bold mt-0 mb-3">Contact us</h2>
                <p class="section__contact-desc text-center mt-0">hi@metalbear.co</p>
            </div>
        </div>
    </section>
</div>
{{- end }}
