{{- define "main" }}
<main id="site-main" class="contact-page">
  <div class="contact-page__wrapper" id="contact-us">
    <div class="container-xl px-4 px-xl-0">
      <div class="contact-form__container">
        <div class="contact-form__box">
          <header class="contact-form__header text-center">
            <h2 class="contact-form__title mt-0">Feel free to leave us a message
            </h2>
          </header>
          <div class="contact-form__inner">
            <form id="contact-form" class="contact-form">
              <div class="contact-form__field">
                <label class="d-none" for="name">Name*</label>
                <input class="contact-form__input" type="text" id="name" name="name" placeholder="Name" required="">
              </div>
              <div class="contact-form__field">
                <label class="d-none" for="email">Email*</label>
                <input class="contact-form__input" type="email" id="email" name="email" placeholder="Email" required="">
              </div>
              <div class="contact-form__field mb-0">
                <label class="d-none" for="message">Message*</label>
                <textarea class="contact-form__input" name="message" id="message" placeholder="Message" rows="5"
                  required=""></textarea>
              </div>
              <div class="contact-form__button-wrapper">
                <button class="contact-form__button section-button section-button-primary" aria-label="Submit"
                  form="contact-form" type="submit">
                  Send Message
                </button>
              </div>
            </form>
          </div>
        </div>

        <div id="result" class="display: none">
          <span id="resultText"></span>
        </div>

        <div class="contact-form__footer text-center">
          <p class="contact-form__footer-text mb-0">Or if you prefer, <a class="underline" target="_blank"
              href="https://meetings-eu1.hubspot.com/mirrord/schedule-a-demo">schedule a meeting</a> or chat with us on
            <a class="underline" target="_blank" href="https://discord.com/invite/metalbear">Discord</a>.
          </p>
        </div>
      </div>
    </div>
  </div>

  <script>
    // taken from https://docs.web3forms.com/how-to-guides/html-and-javascript#javascript
    const form = document.getElementById('contact-form');

    function updateResult(message) {
      document.getElementById('resultText').innerHTML = message;
      document.getElementById('result').style.display = 'inline';
    }

    function resetResult(message) {
      document.getElementById('result').style.display = 'none';
    }


    form.addEventListener('submit', function (e) {
      e.preventDefault();
      const formData = new FormData(form);
      let firstname = "";
      let lastname = "";
      const names = formData.get('name').split(/\s+/);
      if (names.length > 1) {
        firstname = names[0];
        lastname = names.slice(1).join(' ');
      } else {
        firstname = names[0]
        lastname
      };
      const object = {
        context: {
          pageUri: window.location.href,
          pageName: document.title
        },
        fields: [
          {
            "objectTypeId": "0-1",
            "name": "email",
            "value": formData.get('email')
          },
          {
            "objectTypeId": "0-1",
            "name": "firstname",
            "value": firstname,
          },
          {
            "objectTypeId": "0-1",
            "name": "lastname",
            "value": lastname,
          },
          {
            "objectTypeId": "0-1",
            "name": "message",
            "value": formData.get('message')
          },
        ],

      }
      const json = JSON.stringify(object);
      updateResult("Submitting your message...");
      posthog.identify(formData.get('email'))
      posthog.capture("Submitted Contact Us Form")
      fetch('https://forms-eu1.hsforms.com/submissions/v3/integration/submit/143742664/0385d4b8-0e75-4dbb-b70c-9987c4a0e4b3', {
        method: 'POST',
        headers: {
          'Content-Type': 'application/json',
          'Accept': 'application/json'
        },
        body: json
      })
        .then(async (response) => {
          let json = await response.json();
          if (response.status == 200) {
            updateResult("Thank you for contacting us! We will get back to you soon.");
          } else {
            console.log(response);
            updateResult(`Failed to submit message, got error response from server: ${json.message}. Please contact us at support@metalbear.co`);
          }
        })
        .catch(error => {
          console.log(error);
          updateResult("Failed to submit your message. Please contact us at support@metalbear.co");
        })
        .then(function () {
          form.reset();
          setTimeout(() => {
            resetResult()
          }, 15000);
        });
    });
  </script>
</main>
{{- end }}