{{- define "main" }}
<div class="pages">
    <section class="section section__writer">
        <div class="section__writer-wrapper position-relative">
            <div class="container-xl flex-wrap flex-md-nowrap">
                <header>
                    <h2 class="writer-program__title">MetalBear Writers Program</h2>
                </header>
                <div class="row align-items-center">
                    <div class="col-16 col-lg-8">
                        <p>The MetalBear writing program is focused on supporting developers to
                            share knowledge with the community through educational, hands-on & opinionated content. We
                            hope
                            to provide a vast array of resources that empower developers everywhere to code, run, and
                            test
                            software applications smoothly.</p>
                    </div>
                    <div class="col-16 col-lg-8">
                        <p>We work with authors and developers to produce high-quality content on open source, cloud
                            software development, DevOps, Developer Experience, Platform Engineering, Backend
                            engineering,
                            etc. All contents are credited to the authors and promoted across our social media,
                            community
                            channels, and website.</p>
                    </div>
                </div>
                <div class="button-wrapper d-flex justify-content-center pt-3 mt-2 mt-lg-5">
                    <div class="text-center mb-3">
                        <a class="button-primary button-hero" target="_blank" href="https://mirrord.dev/">Apply Here</a>
                    </div>
                </div>
            </div>
            <div class="writer-program-image-position position-absolute end-0">
                <div class="writer-program-image-wrapper">
                    <img class="d-lg-none img-fluid" src="/writer-program-header-mobile.svg" alt="">
                    <img class="d-none d-lg-block img-fluid" src="/writer-program-header.svg" alt="">
                </div>
            </div>
        </div>
    </section>

    <section class="pt-5">
        <div class="container-xl">
            <div class="row row-cols-1 row-cols-md-2 row-cols-lg-3 mb-4 mb-lg-4">
                <div class="col mb-5">
                    <div class="">
                        <header class="process-card__header">
                            <h3 class="process-card__header-title">Here’s how the<br> process works</h3>
                            <svg width="24" height="24" viewBox="0 0 24 24" fill="none"
                                xmlns="http://www.w3.org/2000/svg">
                                <path
                                    d="M13.5 19.5L12.4425 18.4425L18.1275 12.75H3V11.25H18.1275L12.4425 5.5575L13.5 4.5L21 12L13.5 19.5Z"
                                    fill="#222222" />
                            </svg>
                        </header>
                    </div>
                </div>
                {{- range $index, $card := .Params.process -}}
                <div class="col mb-3 mb-lg-5">
                    <div class="process-card">
                        <header class="process-card__header d-flex align-items-center mb-2">
                            <span class="process-card__num">0{{ add $index 1 }}</span>
                            <h3 class="process-card__title">{{ .title }}</h3>
                        </header>
                        {{- with .description }}
                        <div>
                            <p>{{ . }}</p>
                        </div>
                        {{- end }}
                    </div>
                </div>
                {{- end -}}
            </div>
        </div>
    </section>

    <section>
        <div class="container-xl">
            <div class="row mb-4 mb-lg-5">
                {{- range $index, $textbox := .Params.textbox -}}
                {{ if eq $index 0 }}
                <div class="col-16 col-lg-7 mb-4 mb-lg-0">
                    <div class="writer-program__textbox writer-program__textbox-one pt-3 pb-3 px-5">
                        <header>
                            <div class="writer-program__textbox-label">{{ .label }}</div>
                            <h3 class="writer-program__textbox-title">{{ .title }}</h3>
                        </header>
                        <div>
                            {{ .content | markdownify }}
                        </div>
                    </div>
                </div>
                {{- end }}
                {{- end }}
                <div class="col-16 col-lg-9">
                    {{- range $index, $textbox := .Params.textbox -}}
                    {{ if gt $index 0 }}
                    <div class="writer-program__textbox pt-3 pb-2 px-5 {{ if eq $index 1 }}mb-4{{ end }} {{ if eq $index 2 }}writer-program__textbox-two{{ end }}">
                        <header>
                            <div class="writer-program__textbox-label">{{ .label }}</div>
                            <h3 class="writer-program__textbox-title">{{ .title }}</h3>
                        </header>
                        <div>
                            {{ .content | markdownify }}
                        </div>
                    </div>
                    {{- end }}
                    {{- end }}
                </div>
            </div>
            <div class="button-wrapper d-flex justify-content-center pt-2 pt-lg-4 mt-5 mb-5">
                <div class="text-center mb-3">
                    <a class="button-primary button-hero" target="_blank" href="https://mirrord.dev/">Apply Here</a>
                </div>
            </div>
        </div>
    </section>


    <section class="section section__contact pt-5">
        <div class="container">
            <div id="contact" class="contact-wrapper">
                <h2 class="section__contact-title text-center fw-bold mt-0 mb-3">Contact us</h2>
                <p class="section__contact-desc text-center mt-0">hi@metalbear.co</p>
            </div>
        </div>
    </section>
</div>
{{- end }}