@import url('https://fonts.googleapis.com/css2?family=Anonymous+Pro:ital,wght@0,400;0,700;1,400;1,700&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Unbounded:wght@200..900&display=swap');
@import "tailwindcss";
@import "vendor/splide.min.css";
@import "partials/highlighter.css";
@plugin "@tailwindcss/aspect-ratio";

@theme {
    --breakpoint-*: initial;
    --breakpoint-sm: 400px;
    --breakpoint-md: 768px;
    --breakpoint-lg: 1024px;
    --breakpoint-xl: 1292px;
    --breakpoint-2xl: 1300x;

    --color-primary: #756DF3;
    --color-secondary: #E4E3FD;
    --color-tertiary: #FFCB7D;
    --color-midblack: #222222;
    --color-dark-purple: #232141;
    --color-blush-red: #F36869;
    --color-light-grey: #FAFAFD;
    --color-dark-grey: #ACACAC;
    --color-bear-grey: #EEEEEE;

    --font-body: "Poppins", "sans-serif";
    --font-heading: "Unbounded", "sans-serif";
    --font-code: 'IBM Plex Mono', monospace;
}

[x-cloak] {
    display: none !important;
}

html {
    scroll-behavior: smooth;
}

body {
    @apply font-body;
}

/* menu */

.offcanvas {
    @apply fixed lg:static z-20 bottom-0 top-0 right-0 w-[400px] lg:w-auto max-w-full bg-white lg:bg-transparent transition-all duration-300 ease-in-out invisible translate-x-full lg:visible lg:translate-x-0;

    background-clip: padding-box;
    outline: 0;
}

.offcanvas.show {
    @apply visible translate-x-0;
}

.btn-close {
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='32' height='32' viewBox='0 0 24 24' fill='none' stroke='currentColor' stroke-width='2' stroke-linecap='round' stroke-linejoin='round' class='feather feather-x'%3E%3Cline x1='18' y1='6' x2='6' y2='18'%3E%3C/line%3E%3Cline x1='6' y1='6' x2='18' y2='18'%3E%3C/line%3E%3C/svg%3E");
    background-size: 1.5rem;
    background-repeat: no-repeat;
    background-position: center;
    cursor: pointer;
}

.submenu.submenu-active {
    @apply block;
}


.shadow-card {
    box-shadow: -5px 6.5px 0px #000000;
}

.border-card:hover {
    box-shadow: -5px 6.5px 0px #000000;
}

@media (min-width: 768px) {
    .shadow-card {
        box-shadow: -6px 6px 0px #000000;
    }

    .border-card:hover {
        box-shadow: -6px 6px 0px #000000;
    }
}

@media (min-width: 1024px) {
    .shadow-card {
        box-shadow: -6px 6px 0px #000000;
    }

    .border-card:hover {
        box-shadow: -6px 6px 0px #000000;
    }
}

@media (min-width: 1280px) {
    .shadow-card {
        box-shadow: -8px 10px 0px #000000;
    }

    .border-card:hover {
        box-shadow: -8px 10px 0px #000000;
    }
}

.home .logo-slider {
    @apply overflow-hidden whitespace-nowrap relative w-full h-[72px] 2xl:h-[96px];
}

.home .logo-track {
    @apply flex items-center h-[72px] lg:h-[58px] xl:h-[72px] 2xl:h-[96px] gap-[30px] md:gap-[40px] lg:gap-[57px] xl:gap-[65px] 2xl:gap-[76px] absolute;

    animation: scroll 30s linear infinite;
}

.home .logo-track li {
    list-style: none;
}

.home .logo-track img {
    width: auto;
    max-width: none;
}

.mirrord-logo-track {
    @apply h-18 lg:h-14.5 xl:h-23 flex items-center gap-7.5 md:gap-10 lg:gap-14.5 xl:gap-15;

    animation: scroll 15s linear infinite;
}

@keyframes scroll {
    from {
        transform: translateX(0);
    }

    to {
        transform: translateX(-50%);
    }
}

.bg-image--left-top {
    background-repeat: no-repeat;
    background-position: left top;
    background-size: auto;
}

.bg-image--right-top {
    background-repeat: no-repeat;
    background-position: right top;
    background-size: 170%;
}

.bg-image--left-bottom {
    background-repeat: no-repeat;
    background-position: left bottom;
    background-size: 160% auto;
}

.demo-bg-image--left-bottom {
    background-repeat: no-repeat;
    background-position: left bottom;
    background-size: auto;
}

.demo-bg-image--right-bottom {
    background-repeat: no-repeat;
    background-position: right bottom;
    background-size: 160% auto;
}

@media (min-width: 1024px) {
    .bg-image--left-top {
        background-size: 100%;
    }

    .bg-image--right-top {
        background-size: 100%;
    }

    .bg-image--left-bottom {
        background-size: 100%;
    }

    .demo-bg-image--left-bottom {
        background-size: 80% auto;
    }

    .demo-bg-image--right-bottom {
        background-size: 100%;
    }
}

@media (min-width: 1720px) {
    .bg-image--left-top {
        background-size: auto;
    }

    .bg-image--right-top {
        background-size: auto;
    }

    .bg-image--left-bottom {
        background-size: auto;
    }
}

.demo-bg-image--left-bottom {
    background-repeat: no-repeat;
    background-position: left bottom;
    background-size: auto;
}

@media (min-width: 1024px) {
    .demo-bg-image--left-bottom {
        background-size: 80% auto;
    }
}

.career-bg-image--left-top {
    background-repeat: no-repeat;
    background-position: left top;
    background-size: auto;
}

@media (min-width: 1024px) {
    .career-bg-image--left-top {
        background-size: 80% auto;
    }
}

.career-bg-image--left-bottom {
    background-repeat: no-repeat;
    background-position: left bottom;
    background-size: auto;
}

@media (min-width: 1024px) {
    .career-bg-image--left-bottom {
        background-size: 80% auto;
    }
}

.careers-bg-image--left-bottom {
    background-repeat: no-repeat;
    background-position: left bottom;
    background-size: auto 45%;
}

@media (min-width: 1024px) {
    .careers-bg-image--left-bottom {
        background-size: 100% auto;
    }
}

.mirrord-stories-bg-image--left-bottom {
    background-repeat: no-repeat;
    background-position: left bottom;
    background-size: auto;
}

@media (min-width: 1024px) {
    .mirrord-stories-bg-image--left-bottom {
        background-size: auto;
    }
}

.mirrord-stories-bg--top-right {
    background-repeat: no-repeat;
    background-position: right top;
    background-size: auto;
}

@media (min-width: 1024px) {
    .mirrord-stories-bg-image--top-right {
        background-size: auto;
    }
}

.careers-bg--top-left {
    background-repeat: no-repeat;
    background-position: left top;
    background-size: auto;
}

@media (min-width: 1024px) {
    .careers-bg-image--top-left {
        background-size: auto;
    }
}

/* home */
.rotating-text {
    position: absolute;
    left: 0;
    width: 100%;
    opacity: 0;
    transform: translateY(50px);
    transition: transform 0.6s ease-in-out, opacity 0.6s ease-in-out;
}

.rotating-text.active {
    opacity: 1;
    transform: translateY(0);
}

.rotating-text.exit {
    opacity: 0;
    transform: translateY(-50px);
}

.home-arrow {
    translate: -24px;
    height: 108px;
}

.home-arrow__image-wrapper {
    width: 55%;
    margin-left: auto;
    margin-right: auto;
}

@include media-breakpoint-up(md) {
    .home-arrow {
        height: 108px;
    }
}

@include media-breakpoint-up(lg) {
    .home-arrow {
        height: 170px;
    }

    .home-arrow__image-wrapper {
        padding-bottom: 21px;
        margin-left: 0;
        margin-right: 0;
    }

    .home-arrow__image {
        width: 326px;
    }
}

@include media-breakpoint-up(xl) {
    .home-arrow {
        height: 213px;
    }

    .home-arrow__image-wrapper {
        padding-bottom: 27px;
    }

    .home-arrow__image {
        width: 408px;
    }
}

@include media-breakpoint-up(xxl) {
    .home-arrow {
        height: 286px;
    }

    .home-arrow__image-wrapper {
        padding-bottom: 36px;
    }

    .home-arrow__image {
        width: 548px;
    }
}

.book-form__input {
    @apply outline-none outline-offset-2 text-[#222222] text-xs md:text-xl lg:text-sm xl:text-base 2xl:text-[1.188rem] leading-6 bg-[white] border w-full px-2 lg:px-5 py-1.5 md:py-3.5 lg:py-3 xl:py-3.5 2xl:py-[18px] rounded-[5px] md:rounded-lg border-solid border-[#222222];
}

.demo-single-content h2,
.demo-single-content .h2 {
    @apply text-[#756DF3] text-[1.313rem] xl:text-[1.688rem] 2xl:text-[2rem] font-bold font-body mt-8 xl:mt-10 2xl:mt-12 mb-6 xl:mb-6 2xl:mb-6;
}

.demo-single-content h3,
.demo-single-content .h3 {
    @apply text-[#222222] text-lg font-semibold mt-4 mb-6;
}

.demo-single-content>h2[id]::before,
.demo-single-content>[id].h2::before {
    @apply block h-8 xl:h-10 2xl:h-12 content-[''] -mt-8 xl:-mt-10 2xl:-mt-12;
}

.demo-single-content a {
    @apply text-[#756DF3];
}

.demo-single-content p {
    @apply mb-6;
}

.demo-single-content ul,
ol {
    @apply pl-8 mb-4;
}

.demo-single-content ul {
    @apply list-disc;
}

.demo-single-content p,
.demo-single-content li {
    @apply text-base 2xl:text-lg leading-[1.6] md:leading-[1.6] lg:leading-[1.6] xl:leading-[1.6] 2xl:leading-[1.6];
}

.demo-single-content li {
    @apply mb-3;
}

.anchor {
    @apply invisible;
}

.demo-single-content blockquote {
    @apply text-base 2xl:text-lg italic mb-4 pl-4 border-l-[3px] border-l-[#756DF3] border-solid;
}

#TableOfContents ul {
    @apply pl-0 list-none;
}

.demo__toc li {
    @apply leading-normal relative break-words mb-5 xl:mb-[25px] 2xl:mb-[30px] py-[5px];
}

.demo__toc a {
    @apply text-base xl:text-xl 2xl:text-2xl text-black leading-normal;
}

.demo__toc li.toc-active {
    @apply font-bold;
}

.demo__toc li.toc-active::before {
    @apply content-[''] bg-[#756DF3] w-1.5 h-full absolute left-[-27px] top-0;
}

.demo-widget__cta {
    @apply border lg:w-[89%] xl:w-[96%] 2xl:w-[89%] mb-14 pt-[38px] lg:pt-[38px] xl:pt-[45px] 2xl:pt-[54px] pb-9 lg:pb-9 xl:pb-[42px] 2xl:pb-[50px] px-7 lg:px-4 xl:px-5 2xl:px-8 rounded-[7px] border-solid border-black;
}

.demo-widget__content {
    @apply text-[#222222] text-base xl:text-lg 2xl:text-[1.375rem] font-light leading-normal text-center mb-7;
}

.open-role__table {
    @apply w-full;
}

.open-role__table th,
.open-role__table td {
    @apply border-b border-[#ACACAC] text-base md:text-xl lg:text-base xl:text-xl 2xl:text-2xl py-[28px] md:py-[35px] lg:py-[28px] xl:py-[35px] 2xl:py-[42px];
}

.open-role__table th {
    @apply text-[1.063rem] md:text-[1.375rem] lg:text-[1.063rem] xl:text-[1.375rem] 2xl:text-[1.625rem] font-bold pt-0;
}

.open-role__table .text-strong {
    @apply text-primary text-[1.063rem] md:text-[1.375rem] lg:text-[1.063rem] xl:text-[1.375rem] 2xl:text-[1.625rem] font-bold underline;
}

.open-role__table td:last-child {
    @apply text-right;
}

.careers-content h2 {
    @apply text-primary text-xl md:text-[1.563rem] lg:text-xl xl:text-[1.563rem] 2xl:text-3xl font-heading font-bold leading-normal md:leading-normal lg:leading-normal xl:leading-normal 2xl:leading-normal mb-[23px] md:mb-[28px] lg:mb-[23px] xl:mb-[28px] 2xl:mb-[34px] mt-[41px] md:mt-[52px] lg:mt-[41px] xl:mt-[52px] 2xl:mt-[62px];
}

.careers-content h3,
.careers-content p,
.careers-content li {
    @apply text-black text-base md:text-base lg:text-base xl:text-base 2xl:text-lg leading-normal md:leading-normal lg:leading-normal xl:leading-normal 2xl:leading-normal;
}

.careers-content h3 {
    @apply font-bold mb-2;
}

.careers-content p,
.careers-content ul,
.careers-content ol {
    @apply mb-[23px] md:mb-[28px] lg:mb-[23px] xl:mb-[28px] 2xl:mb-[34px];
}

.careers-content ul ul,
.careers-content ol ol,
.careers-content ol ul {
    @apply py-2 mb-0;
}

.careers-content ul,
.careers-content ol {
    @apply pl-6 list-disc;
}

.splide-case-studies .splide__pagination,
.splide-user-stories .splide__pagination {
    bottom: -32px;
}

.splide__pagination__page {
    color: #ACACAC;
    width: 11px;
    height: 11px;
}

.splide__pagination__page.is-active {
    background: #756DF3;
    transform: scale(1);
    z-index: 1;
}

.splide-blog .splide__pagination {
    @apply -bottom-4;
}

.stories-box::-webkit-scrollbar {
    width: 24px;
    height: 24px;
}

.stories-box::-moz-scrollbar-thumb {
    clip-path: inset(2px round 10px);
}

.stories-box::-webkit-scrollbar-track {
    @apply w-6 rounded-[24px] my-6;
}

.stories-box::-webkit-scrollbar {
    @apply bg-transparent w-6 rounded-[24px];
}

.stories-box::-webkit-scrollbar-thumb {
    @apply bg-transparent w-6 h-6 rounded-[24px] mt-8;
}

.scrollbar-track {
    @apply absolute w-6 h-full right-[5px] top-0 rounded-[12px] border border-black;
}

.scrollbar-thumb {
    @apply size-[34px] absolute cursor-pointer rounded-[50%] right-[-5px] top-0 bg-primary border border-black;
}

#whr_embed_hook {
    @apply max-w-6xl mx-auto;
}

.whr-item {
    @apply py-6 border-b border-[#ACACAC] flex;
}

.whr-info li {
    @apply lg:text-[1.063rem] xl:text-[1.375rem] 2xl:text-[1.625rem];
}

.whr-info li span {
    @apply font-semibold hidden;
}

.whr-title {
    @apply text-primary text-sm sm:text-base md:text-[1.375rem] lg:text-[1.063rem] xl:text-[1.375rem] 2xl:text-[1.625rem] font-bold underline mb-1 w-1/2 flex-none;
}

.whr-info {
    @apply flex-1 grid grid-cols-12;
}

.whr-dept {
    @apply col-span-4 col-start-1 pl-2 xl:pl-4;
}

.whr-location {
    @apply col-span-4 col-start-5;
}

.whr-date {
    @apply col-span-4 col-start-9;
}

.splide-case-studies .splide__arrow {
    @apply bg-transparent;
}

.splide-case-studies .splide__arrow svg {
    @apply w-9 h-9 xl:w-10 xl:h-10;
}

.splide-case-studies .splide__arrow--prev {
    @apply -ml-9 xl:-ml-12;
}

.splide-case-studies .splide__arrow--next {
    @apply -mr-9 xl:-mr-12;
}

/* search */
.suggestion,
.suggestion__result,
.suggestion__no-results {
    width: 350px;
}

@media (min-width: 1024px) {
    .suggestion,
    .suggestion__result,
    .suggestion__no-results {
        width: 500px;
    }
}

.suggestion__no-results {
    color: #222222;
    font-size: 14px;
    padding: 1.25rem 1.5rem;
    text-decoration: none;
}

.dark .suggestion__no-results {
    color: #ffffff;
}

.suggestion__result .suggestion__result-link {
    display: flex;
    color: #222222;
    padding: 0.5rem 0;
    border-bottom: 1px solid var(--border-color);
    text-decoration: none;
}

.dark .suggestion__result .suggestion__result-link {
    color: #ffffff;
}

.suggestion__result:first-child .suggestion__result-link {
    padding-top: 1rem;
    margin-top: 0.5rem;
    border-top-left-radius: 7px;
    border-top-right-radius: 7px;
}

.suggestion__result:last-child .suggestion__result-link {
    padding-bottom: 1rem;
    border-bottom-left-radius: 7px;
    border-bottom-right-radius: 7px;
    border-bottom: none;
}

.suggestion__result .suggestion__result-link:hover {
    background-color: var(--body-hover-color);
    text-decoration: none;
}

.suggestion__title {
    flex: none;
    width: 40%;
    font-weight: 600;
    font-size: 14px;
    padding: 0.25rem 1.5rem;
    border-right: 1px solid var(--border-color);
}

.suggestion__description {
    flex: none;
    width: 60%;
    font-size: 14px;
    padding: 0.25rem 1.5rem;
}

/* docs */
.docs__content p,
.docs__content li {
    @apply text-black mb-4;
}

.docs__content h1,
.docs__content h2,
.docs__content h3,
.docs__content h4 {
    @apply font-heading font-bold text-black;
}

.docs__content h1 {
    @apply text-4xl;
}

.docs__content h2 {
    @apply text-2xl lg:text-3xl;
}

.docs__content h3 {
    @apply text-xl;
}

.docs__content h4 {
    @apply text-lg mb-4;
}

.docs__content h1:target,
.docs__content h2:target,
.docs__content h3:target,
.docs__content h4:target,
.docs__toc #TableOfContents ul > li > a:target,
.docs__toc #TableOfContents ul > li > ul > li > a:target {
    @apply text-primary;
}

.docs__content>p ~ h2[id]::before {
    @apply border-b border-dashed border-[#9B9B9B];
}

.docs__content>h2[id]::before {
    @apply block content-[''] h-40 -mt-[10rem] mb-6 pb-4;
}

.docs__content>h3[id]::before, 
.docs__content>h4[id]::before {
    @apply block content-[''] h-40 -mt-[10rem];
}

.docs__content blockquote {
    @apply border-l border-solid border-primary pl-6 bg-gray-50 dark:bg-gray-50 px-2 py-3 mb-8;
}

.docs__content blockquote p {
    @apply mb-0;
}

.docs__content code {
    @apply py-1 px-2 bg-gray-100 dark:bg-gray-700 rounded-sm;
}

.docs__content .highlight pre {
    @apply bg-gray-100;
}

.docs__content img {
    @apply mx-auto mt-4 mb-6;
}

.docs__content table th {
    @apply bg-gray-50;
}

.docs__content > pre {
    @apply text-slate-100 bg-slate-800 overflow-x-auto py-4 px-4 mb-6;
}

.docs__content > pre > code {
    @apply text-slate-100 bg-slate-800 dark:bg-slate-800;
}

.docs__main {
    @apply overflow-x-hidden;
}

.docs__menu {
    @apply p-0 ml-0 lg:m-0;
}

.docs__menu-item {
    @apply text-black mb-4;
}

.docs__submenu {
    @apply p-0 lg:pl-4 ml-6 lg:m-0;
}

.docs__submenu:not(.show) {
    @apply hidden;
}

/* [x-cloak="docs-submenu"] { 
    @apply static visible scale-y-100 opacity-100;
} */

/* .docs__submenu--active {
    @apply static visible scale-y-100 opacity-100;
}

.docs__submenu--notactive {
    @apply absolute invisible scale-y-0 opacity-0;
} */

.docs__submenu-item {
    @apply first:mt-4 m-0;
}

.docs__submenu-link {
    @apply py-3 hover:text-black hover:no-underline;
    text-wrap: wrap;
}

.docs__submenu-link-active {
    @apply text-[#756DF3];
}

/* TOC */
.docs__toc:not(.docs__toc:has(a)) {
    display: none;
}

.docs__toc #TableOfContents ul,
.docs__toc #TableOfContents ul > li > ul,
.docs__toc .docs-nav__toc ul,
.docs__toc .docs-nav__toc ul > li > ul {
    @apply list-none pl-0 mb-0;
}

.docs__toc .docs-nav__toc .subheading {
    @apply pl-3;
}

.docs__toc #TableOfContents ul > li,
.docs__toc #TableOfContents ul > li > ul > li,
.docs__toc .docs-nav__toc ul > li,
.docs__toc .docs-nav__toc ul > li > ul > li {
    @apply mb-0;
}

.docs__toc #TableOfContents ul > li > a,
.docs__toc .docs-nav__toc ul > li > a {
    @apply text-black text-sm hover:font-bold;
}

.docs__toc #TableOfContents ul > li > a.toc-active,
.docs__toc .docs-nav__toc ul > li > a.toc-active {
    @apply text-primary;
}

.docs__toc #TableOfContents ul > li > a,
.docs__toc #TableOfContents ul > li > ul > li > a,
.docs__toc .docs-nav__toc ul > li > a,
.docs__toc .docs-nav__toc ul > li > ul > li > a {
    @apply leading-8 block;
}

/* Background */
.docs__content .highlight {
    @apply relative mb-6;
}

.docs__content .highlight .chroma {
    @apply text-slate-100 bg-slate-800 overflow-x-auto py-6 px-2;
}

.docs__content .highlight .chroma .hl {
    @apply bg-slate-700;
}

.docs__content .highlight .chroma code {
    @apply text-sm bg-slate-800;
}

.docs__content .button__clipboard {
    @apply block text-xs text-white bg-primary rounded-md py-1 px-2 ml-auto mb-1;
}

/* Configuration page */
@media (min-width: 1024px) {
    .nav__wrapper {
        visibility: visible!important;
    }
}

.docs__container {
    @apply container max-w-[2560px] mx-auto pt-6 pb-8;
}

.docs__wrapper {
    @apply relative lg:grid lg:grid-cols-12 lg:items-start mb-8;
}

.docs__sidebar--left {
    display: grid;
    @apply pt-4 lg:pt-0;
}

.docs__sidebar-mobile {
    @apply flex items-center justify-between lg:hidden mb-8 px-4;
}

.docs__sidebar-search {
    @apply flex items-center justify-between mb-6 lg:mb-0 pl-4 pr-4 lg:pr-0 xl:pr-4;
}

.docs__sidebar-wrapper {
    @apply origin-top transition-all duration-300 ease-[ease] pt-4 lg:pt-0;
}

.docs__sidebar-wrapper--active {
    @apply visible scale-y-100 opacity-100;
}

.docs__sidebar-wrapper--not-active {
    @apply absolute lg:static invisible lg:visible scale-y-0 lg:scale-y-100 opacity-0 lg:opacity-100;
}

.docs__sidebar--left .darkmode__button,
.docs__sidebar--right .darkmode__button {
    @apply w-full outline-none cursor-pointer relative;
}

.darkmode__slider.dark-slider {
    @apply translate-x-6;
}

.search-form__wrapper {
    @apply relative lg:mb-10 after:absolute after:top-[11px] after:right-2 after:text-[#222222] after:text-[10px] after:rounded-[5px] after:leading-none after:pt-[5px] after:pb-[4px] after:px-[6px];
}

.search-form__input {
    @apply w-full text-black bg-white dark:bg-[rgba(255,_255,_255,_0.2)] block placeholder:text-black placeholder:text-xs rounded-full border border-solid border-primary dark:border-white focus:outline-none py-2 pl-10 pr-4;
}

.docs__content div.text-right {
    @apply my-6;
}

.docs__content div.text-right .btn.btn-primary {
    @apply bg-[#756DF3] border-none;
}

.docs__content div.text-right .btn.btn-primary:focus {
    outline: none;
}

.docs__content .accordion#accordionaccept_invalid_certificates {
    @apply mt-3;
}

.docs__content a {
    @apply text-[#756DF3] hover:text-[#756DF3];
}

.docs__content .accordion .card {
    @apply bg-gray-50 dark:bg-gray-50 border border-primary;
}

.docs__content .accordion .card .card-body a {
    @apply text-[#756DF3];
}

.docs__content .accordion .card:only-child {
    @apply border-b border-primary;
}

.docs__content .accordion .card .card-header {
    @apply border-b border-primary bg-gray-100 dark:bg-gray-50;
}

.docs__content .accordion .card .card-header h2 {
    @apply m-0 p-0 border-t-0;
}

.docs__content .accordion .card .card-header .btn.btn-link {
    @apply text-[#756DF3] hover:text-[#756DF3];
}

.docs__content .accordion .card .card-body.pl-5 {
    padding-left: 2rem!important;
}

.docs__content .accordion .card .card-body h2 {
    @apply mt-0 pt-0 border-t-0;
}

.docs__content .accordion .card .card-body .breadcrumbs {
    @apply flex items-center flex-wrap text-black mb-4;
}

.docs__content .accordion .card .card-body .breadcrumbs a {
    @apply text-[#756DF3];
}

.docs__content .accordion .card .card-body .breadcrumbs svg {
    @apply block mx-2;
}

.docs__content .accordion .card .card-body .badge.value-type {
    @apply text-sm font-medium px-3;
}

.docs__content .accordion .card .card-body .nav-tabs {
    @apply border-b-0;
}

.docs__content .accordion .card .card-body .nav-tabs .nav-link {
    @apply text-[#756DF3];
}

.docs__content .accordion .card .card-body .nav-tabs .nav-link.active {
    @apply bg-gray-50;
}

/* Stories section */
.stories__arrow--prev {
    @apply hidden md:block md:left-6 lg:-left-[5%];
}

.stories__arrow--next {
    @apply hidden md:block md:right-4 lg:-right-[5%];
}

.stories__page {
    @apply bg-[#000000] w-[6px] h-[6px];
}

.stories__page.is-active {
    @apply bg-[#756DF3];
}

.user-stories__page h1 {
    @apply text-black text-3xl font-body font-bold mt-6 mb-4;
}

.user-stories__page h2 {
    @apply text-[#756DF3] text-2xl font-bold mt-6 mb-4;
}

.stories__pagination {
    @apply md:hidden bottom-0;
}

.user-stories__page h3,
.user-stories__page p,
.user-stories__page li {
    @apply text-[#000000] mb-4;
}

/* Review section */
.review__arrow--prev {
    @apply text-white bg-[#756DF3] opacity-100 rounded-full md:left-6 lg:-left-[5%] xl:-left-[10%] hidden lg:flex justify-center items-center;
}

.review__arrow--prev svg {
    @apply fill-current w-4 h-4;
}

.review__arrow--next {
    @apply text-white bg-[#756DF3] opacity-100 rounded-full md:right-4 lg:-right-[5%] xl:-right-[10%] hidden lg:flex justify-center items-center;
}

.review__arrow--next svg {
    @apply fill-current w-4 h-4;
}

.review__page {
    @apply bg-[#D9D9D9] w-[8px] h-[8px];
}

.review__page.is-active {
    @apply bg-[#756DF3] scale-100;
}

.review__pagination {
    @apply -bottom-10 lg:bottom-0;
}

.medium-zoom-image--opened {
    z-index: 9999;
}

.pricing-page-title {
    transform: rotateX(160deg);
}

.content-accordion a {
    @apply underline;  
}