<section class="home-section-3 relative">
    {{/*  <div class="absolute w-full h-full top-0 left-0 bg-image--left-top hidden lg:block"
        style="background-image: url(/home-section-3-bg.png);"></div>  */}}
    <div
        class="container w-full sm:max-w-full lg:max-w-screen-lg xl:max-w-screen-xl 2xl:max-w-screen-2xl mx-auto px-6 pt-[70px] lg:pt-15 2xl:pt-[80px]">
        <div class="grid grid-cols-12 items-center mb-4">
            <div class="lg:col-span-5 hidden lg:block">
                <div class="lg:w-[82%] relative">
                    <picture>
                        <source srcset="/home-section-3.webp" type="image/webp">
                        <img class="w-full h-auto" src="/home-section-3.png" alt="MetalBear team" width="581" height="540" loading="lazy" decoding="async" />
                    </picture>
                </div>
            </div>
            <div class="col-span-12 lg:col-span-7">
                <h2
                    class="text-black text-3xl xl:text-[2rem] 2xl:text-[2.5rem] font-heading font-bold leading-normal md:leading-normal lg:leading-normal xl:leading-normal 2xl:leading-normal mb-7 lg:mb-8.5 2xl:mb-11.5">
                    Hey! We’re MetalBear,<br>
                    <span class="font-normal">the team behind mirrord.</span>
                </h2>
                <div
                    class="text-black text-base lg:text-base xl:text-lg 2xl:text-2xl font-body leading-loose lg:leading-normal xl:leading-normal 2xl:leading-normal">
                    <p class="mb-7 lg:mb-8.5 2xl:mb-11.5">We’re a team
                        of developers who understand the challenges of working in the cloud: slow feedback loops,
                        complex setups,
                        the environment breaking and blocking the team—just to name a few.</p>
                    <p><strong>That’s why we built mirrord,</strong> so you can ship better, more reliable code, without
                        the
                        hassle, and in less
                        time.</p>
                </div>
            </div>
        </div>
        <div class="relative -translate-x-6 h-[108px] lg:h-[170px] xl:h-[213px] 2xl:h-[286px]">
            <div class="absolute inset-0 w-full">
                <div class="w-[55%] mx-auto lg:mx-0 lg:pb-[21px] xl:pb-[27px] 2xl:pb-[36px]">
                    <img src="/home-arrow-sm.svg" alt="" class="w-full h-auto lg:hidden" loading="lazy" decoding="async">
                    <img src="/home-arrow-lg.svg" alt=""
                        class="hidden lg:block w-full h-auto lg:w-[326px] xl:w-[408px] 2xl:w-[548px] ml-auto" loading="lazy" decoding="async">
                </div>
            </div>
        </div>
    </div>
</section>