<section class="section-benefit border-b-3 border-b-black bg-[#FAFAFD]">
    <div
        class="container w-full sm:max-w-full lg:max-w-screen-lg xl:max-w-screen-xl 2xl:max-w-screen-2xl mx-auto px-5 pt-11 lg:pt-[102px] 2xl:pt-[120px] pb-18 lg:pb-29.5 xl:pb-37 2xl:pb-39.5">
        <header class="lg:w-[70%] mx-auto text-center">
            <h2
                class="font-heading text-black font-bold text-3xl leading-normal xl:leading-normal mb-8 lg:mb-15 xl:mb-19 2xl:mb-[110px]">
                With mirrord, your local code runs in cloud conditions—no setup, no waiting
            </h2>
        </header>
        <div class="xl:max-w-[1020px] 2xl:max-w-[1134px] mx-auto">
            <div class="grid grid-cols-12 gap-8">
                <div
                    class="col-span-12 lg:col-span-6 border-[1.5px] border-black rounded-[5px] lg:rounded-[7px] bg-[#756DF3] shadow-[calc(-5px)_6.5px_0_#000] px-6 lg:px-7.5 xl:px-10 pr-12.5 lg:pr-15.5 xl:pr-20 pb-4.5 lg:pb-9 xl:pb-12">
                    <div class="h-[116px] lg:h-[144px] xl:h-[192px] flex items-end mb-6 xl:mb-8.5 2xl:mb-14">
                        <div class="w-[70px] lg:w-[84px] xl:w-[102px]">
                            <img src="/home-section-6-1.png" alt="Chair with cozy slippers, relaxed vibe scene | MetalBear" class="w-full h-auto">
                        </div>
                    </div>
                    <div class="text-white text-base xl:text-lg leading-[1.5]">
                        <h3 class="text-[#FFCB7D] text-lg xl:text-2xl 2xl:text-[1.625rem] font-bold mb-5">
                            Stay Local</h3>
                        <p class="mb-0">Use our CLI or VS Code & IntelliJ plugins to tap into your cloud
                            environment—without leaving your local setup.</p>
                    </div>
                </div>
                <div
                    class="col-span-12 lg:col-span-6 border-[1.5px] border-black rounded-[5px] lg:rounded-[7px] bg-[#756DF3] shadow-[calc(-5px)_6.5px_0_#000] px-6 lg:px-7.5 xl:px-10 pr-12.5 lg:pr-15.5 xl:pr-20 pb-4.5 lg:pb-9 xl:pb-12">
                    <div class="h-[116px] lg:h-[144px] xl:h-[192px] flex items-end mb-6 xl:mb-8.5 2xl:mb-14">
                        <div class="w-[80px] lg:w-[94px] xl:w-[126px]">
                            <img src="/home-section-6-2.png" alt="Pizza box with slice missing, cheesy and hot | MetalBear" class="w-full h-auto">
                        </div>
                    </div>
                    <div class="text-white text-base xl:text-lg leading-[1.5]">
                        <h3 class="text-[#FFCB7D] text-lg xl:text-2xl 2xl:text-[1.625rem] font-bold mb-5">
                            Staging for everyone</h3>
                        <p class="mb-0">Everyone gets access to single shared testing environments throughout
                            development, not just when it’s "ready for staging."</p>
                    </div>
                </div>
                <div
                    class="col-span-12 border-[1.5px] border-black rounded-[5px] lg:rounded-[7px] bg-[#756DF3] shadow-[calc(-5px)_6.5px_0_#000] px-6 lg:px-7.5 xl:px-10 pr-7 lg:pr-15.5 xl:pr-20 pb-4.5 lg:pb-9 xl:pb-12">
                    <div
                        class="h-[116px] lg:h-[144px] xl:h-[192px] flex items-end justify-between mb-7.5 xl:mb-8.5 2xl:mb-9">
                        <div class="w-[85px] lg:w-[111px] xl:w-[149px]">
                            <img src="/home-section-6-3.png" alt="Turtle, playful and cute look | MetalBear" class="w-full h-auto">
                        </div>
                        <div class="w-[106px] lg:w-[138px] xl:w-[185px]">
                            <img src="/home-section-6-4.png" alt="Joyful cartoon rabbit flying with flapping ears | MetalBear" class="w-full h-auto">
                        </div>
                    </div>
                    <div class="text-white text-base xl:text-lg leading-[1.5]">
                        <h3 class="text-[#FFCB7D] text-lg xl:text-2xl 2xl:text-[1.625rem] font-bold mb-5">Put an
                            end to `git push` testing</h3>
                        <p class="mb-0">No more building Docker images, waiting on CI, or deploying just to test. Just
                            run your code locally, but in cloud conditions.</p>
                    </div>
                </div>
            </div>
        </div>
    </div>

</section>

