<footer class="footer">
  <div class="container">
    <div class="footer__content d-flex flex-column flex-lg-row">
      <div class="footer__info">
        <div class="d-flex justify-content-center justify-content-lg-start">
          <a class="footer__logo p-0" href="{{ "/" | relLangURL }}" aria-label="{{ .Site.Params.Title }}">
            <img class="img-fluid mx-auto" src="/metalbear-header-logo.svg" alt="MetalBear home" />
          </a>
        </div>
        <div class="footer__social-wrapper">
          <ul class="footer__social nav d-flex align-items-center justify-content-center justify-content-lg-start">
            {{ range .Site.Menus.footer_social -}}
            <li class="ms-0">
              <a class="nav-link {{ urlize .Name }}" target="_blank" href="{{ .URL | relURL }}">{{ .Pre | safeHTML
                }}</a>
            </li>
            {{ end -}}
          </ul>
        </div>
      </div>
      <div class="footer__navigation">
        <div class="footer__menu-wrapper d-lg-flex justify-content-lg-between">
          <div class="footer__menu">
            <h4 class="footer__menu-title mt-0">About</h4>
            <ul class="footer__menu-lists list-unstyled">
              {{- range .Site.Menus.footer_left }}
              {{- $url := .URL -}}
              {{- $isExternal := strings.HasPrefix $url "http" -}}
              {{- $isAnchor := strings.HasPrefix $url "#" -}}
              <li class="footer__menu-list">
                <a class="footer__menu-link"
                  href="{{- if $isAnchor -}}{{- if not $.IsHome -}}{{ site.Home.RelPermalink }}{{ end }}{{ $url }}{{- else if $isExternal -}}{{ $url }}{{- else -}}{{ $url | relLangURL }}{{- end -}}"
                  {{ if $isExternal }}target="_blank" rel="noopener noreferrer" {{ end }}>
                  {{ .Name }}
                </a>
              </li>
              {{- end }}
            </ul>
          </div>
          <div class="footer__menu">
            <h4 class="footer__menu-title mt-0">Resources</h4>
            <ul class="footer__menu-lists list-unstyled">
              {{- range .Site.Menus.footer_center }}
              {{- $url := .URL -}}
              {{- $isExternal := strings.HasPrefix $url "http" -}}
              {{- $isAnchor := strings.HasPrefix $url "#" -}}
              <li class="footer__menu-list">
                <a class="footer__menu-link"
                  href="{{- if $isAnchor -}}{{- if not $.IsHome -}}{{ site.Home.RelPermalink }}{{ end }}{{ $url }}{{- else if $isExternal -}}{{ $url }}{{- else -}}{{ $url | relLangURL }}{{- end -}}"
                  {{ if $isExternal }}target="_blank" rel="noopener noreferrer" {{ end }}>
                  {{ .Name }}
                </a>
              </li>
              {{- end }}
            </ul>
          </div>
          <div class="footer__menu">
            <h4 class="footer__menu-title mt-0">Guides</h4>
            <ul class="footer__menu-lists list-unstyled">
              {{- range .Site.Menus.footer_right }}
              {{- $url := .URL -}}
              {{- $isExternal := strings.HasPrefix $url "http" -}}
              {{- $isAnchor := strings.HasPrefix $url "#" -}}
              <li class="footer__menu-list">
                <a class="footer__menu-link"
                  href="{{- if $isAnchor -}}{{- if not $.IsHome -}}{{ site.Home.RelPermalink }}{{ end }}{{ $url }}{{- else if $isExternal -}}{{ $url }}{{- else -}}{{ $url | relLangURL }}{{- end -}}"
                  {{ if $isExternal }}target="_blank" rel="noopener noreferrer" {{ end }}>
                  {{ .Name }}
                </a>
              </li>
              {{- end }}
            </ul>
          </div>
        </div>
      </div>
    </div>
    <div class="footer__copyright d-flex justify-content-between">
      <div>
        <p class="mb-0">{{ .Site.Params.footer | safeHTML }}</p>
      </div>
      <div class="text-lg-end">
        <p class="mb-0">Designed by <a class="" target="_blank" href="https://studioartik.com">ARTIK STUDIO</a>
        </p>
      </div>
    </div>
  </div>
</footer>