<section class="section pt-5">
    <div class="container blog-single__wrapper">
        <div class="blog-page__cta">
            <header class="blog-page__cta-header text-center px-4">
                <h2 class="cta-header__title">Want to dig deeper?</h2>
                <p>With mirrord by MetalBear, cloud developers can run local code like it’s in their Kubernetes cluster,
                    streamlining coding, debugging, testing, and troubleshooting.</p>
            </header>
            <div class="blog-cta__button-wrapper">
                <a class="button-primary blog-cta__button" href="https://app.metalbear.co/account/sign-up"
                    target="_blank">Try mirrord for free</a>
                <a class="button-secondary blog-cta__button" href="https://mirrord.dev/" target="_blank">Learn more
                    about mirrord</a>
            </div>
        </div>
    </div>
</section>