<section class="section pt-5">
    <div class="container blog-single__wrapper">
        <div class="blog-page__cta">
            <header class="blog-page__cta-header text-center px-4">
                <h2 class="cta-header__title">Want to dig deeper?</h2>
                <p>With mirrord by MetalBear, cloud developers can run local code like it’s in their Kubernetes cluster,
                    streamlining coding, debugging, testing, and troubleshooting.</p>
            </header>
            <div class="d-flex justify-content-center">
                <div class="text-center">
                    <a class="button button-primary mr-lg-24 mr-xxl-32 mb-24 mb-lg-0 w-263px w-lg-auto"
                        href="https://mirrord.dev/" target="_blank">Try mirrord for free</a>
                    <a class="button button-secondary w-263px w-lg-auto" href="https://mirrord.dev/"
                        target="_blank">Learn more
                        about mirrord</a>
                </div>
            </div>
        </div>
    </div>
</section>