<section class="section-list-cta">
    <div class="container blog-list__cta-wrapper">
        <div class="blog-list__cta">
            <header class="blog-page__cta-header text-center px-4">
                <div class="cta-header__wrapper">
                    <h2 class="cta-header__title">Ship Faster, Ship Better</h2>
                </div>
                <p>With mirrord by MetalBear, cloud developers can run local code like it’s in their Kubernetes cluster,
                    streamlining coding, debugging, testing, and troubleshooting.</p>
            </header>
            <div class="text-center">
                <a class="button button-primary w-263px w-lg-auto" href="https://mirrord.dev/" target="_blank">Learn more about mirrord</a>
              </div>
        </div>
    </div>
</section>