<div class="demo__toc-widget">
    <header class="demo__toc-header">
        <h3 class="demo__toc-heading">On this page</h3>
        <div class="demo__toc-icon">
            <svg class="demo__toc-svg" viewBox="0 0 16 9" fill="none" xmlns="http://www.w3.org/2000/svg">
                <path d="M0.919922 0.855469L7.91951 7.71506L14.6391 1.12985" stroke="black" stroke-width="1.37192"
                    stroke-linecap="round" />
            </svg>
        </div>
    </header>
    <div class="demo__toc">
        {{ .TableOfContents }}
    </div>
</div>