<div class="demo-cta__section border-b-3 demo-bg-image--right-bottom" style="background-image: url(/demo-page-cta.png);">
    <div class="demo-cta__section-wrapper container-xl">
        <div class="demo-cta__inner">
            <header class="demo-cta__header mx-auto">
                <h2 class="demo-cta__title font-unbounded">Ready to <span class="text-primary">improve</span> your <br
                        class="d-none d-lg-block">development
                    workflow?</h2>
                <div>
                    <p class="demo-cta__text">See how mirrord can reduce testing and debugging time, simplify
                        onboarding, and boost developer satisfaction—just like it did for CoLab.</p>
                </div>
            </header>
            <div class="demo-cta__button-wrapper">
                <a class="demo-cta__button demo-cta__button-primary" href="https://app.metalbear.co/">Try It Now For
                    Free</a>
                <a class="demo-cta__button demo-cta__button-secondary"
                    href="https://meetings-eu1.hubspot.com/mirrord/demo">Schedule A Demo</a>
            </div>
        </div>
    </div>
</div>