<div class="guides-cta__section">
    <div class="guides-cta__section-wrapper container-xl">
        <div class="guides-cta__inner">
            <header class="guides-cta__header">
                <h2 class="guides-cta__title">
                    Ship <span class="text-primary">Faster</span>, <span class="d-block d-lg-inline-block">Ship <span
                            class="text-primary">Better</span></span></h2>
                <div>
                    <p class="guides-cta__text">Spend more time coding and less time waiting for CI</p>
                </div>
            </header>
            <div
                class="guides-cta__button-wrapper">
                <a class="guides-cta__button guides-cta__button-primary"
                    href="https://app.metalbear.co/">Try it now for free</a>
                <a class="guides-cta__button guides-cta__button-secondary"
                    href="/mirrord/demo">Schedule a demo</a>
            </div>
            <div class="guides-cta__footer">
                <p class="guides-cta__footer-text">or if you have any
                    questions, <a class="text-[#000000] underline" href="/contact">send us a message</a></p>
            </div>
        </div>
    </div>
</div>