{{ if .Site.Params.alert -}}
  {{ partial "header/alert.html" . }}
{{ end -}}

{{ if eq .Site.Params.options.flexSearch false -}}
<div class="sticky-lg-top">
{{ end -}}

<div class="header-bar"></div>

<header class="header__site">
  <div class="navbar navbar-expand-lg navbar-light doks-navbar">
    <nav class="container-{{ if .Site.Params.options.fullWidth }}fluid{{ else }}xl{{ end }} flex-wrap flex-md-nowrap align-items-center" aria-label="Main navigation">
      <a class="navbar-brand p-0" href="{{ "/" | relLangURL }}" aria-label="{{ .Site.Params.Title }}">
        <img class="navbar-brand__image-desktop" src="/metalbear-header-logo-new.svg"/>
        <!-- <img class="navbar-brand__image-mobile" src="/metalbear-logo-mobile.svg" style="height: 124px;"/> -->
      </a>

      <button class="btn btn-menu d-block d-lg-none order-5" type="button" data-bs-toggle="offcanvas" data-bs-target="#offcanvasDoks" aria-controls="offcanvasDoks" aria-label="Open main menu">
        <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-menu"><line x1="3" y1="12" x2="21" y2="12"></line><line x1="3" y1="6" x2="21" y2="6"></line><line x1="3" y1="18" x2="21" y2="18"></line></svg>
      </button>

      <div class="offcanvas offcanvas-end border-0 pt-lg-3" tabindex="-1" id="offcanvasDoks" data-bs-backdrop="true" aria-labelledby="offcanvasDoksLabel">
        <div class="offcanvas-header align-items-start d-lg-none">
          <a class="navbar-brand flex-grow-1 p-0" href="{{ "/" | relLangURL }}" aria-label="{{ .Site.Params.Title }}">
            <img class="navbar-brand__image-mobile d-block mx-auto" src="/metalbear-logo-mobile.svg" style="height: 112px; transform: translateX(1rem);"/>
          </a>
          <button type="button" class="btn-close text-reset me-2" data-bs-dismiss="offcanvas" aria-label="Close main menu"></button>
        </div>
        <div class="offcanvas-body justify-content-center">
          <div class="flex-grow-1">
            <ul class="nav flex-column flex-lg-row justify-content-center align-items-center">
              {{- $current := . -}}
              {{- $section := $current.Section -}}
              {{ range .Site.Menus.main -}}
                {{- $active := or ($current.IsMenuCurrent "main" .) ($current.HasMenuCurrent "main" .) -}}
                {{- $active = or $active (eq .Name $current.Title) -}}
                {{- $active = or $active (and (eq .Name ($section | humanize)) (eq $current.Section $section)) -}}
                {{- $active = or $active (and (eq .Name "Blog") (eq $current.Section "blog" "contributors")) -}}
                {{- $active = or $active (and (eq .Name "Tags") (eq $current.Section "tags")) -}}
                {{ if .HasChildren }}
                  <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle ps-0 py-1" href="#" id="navbarDropdownMenuLink" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                      {{ .Name }}
                      <span class="dropdown-caret"><svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-chevron-down"><polyline points="6 9 12 15 18 9"></polyline></svg></span>
                    </a>
                    <ul class="dropdown-menu dropdown-menu-main shadow rounded border-0" aria-labelledby="navbarDropdownMenuLink">
                      {{ range .Children -}}
                      {{- $active = eq .Name $current.Title -}}
                        <li>
                          <a class="dropdown-item{{ if $active }} active{{ end }}" href="{{ .URL | relLangURL }}"{{ if $active }} aria-current="true"{{ end }}>{{ .Name }}</a>
                        </li>
                      {{ end -}}
                    </ul>
                  </li>
                {{ else }}
                  <li class="nav-item ms-lg-2">
                    <a class="nav-link px-3 py-2{{ if $active }} active{{ end }}" href="{{ .URL | relLangURL }}"><span data-bs-dismiss="offcanvas">{{ .Name }}</span></a>
                  </li>
                {{ end }}
              {{ end -}}
            </ul>
          </div>
          <hr class="my-4 d-lg-none" style="color:#222222;">
          <ul class="nav nav__social justify-content-center">
            {{ range .Site.Menus.social -}}
              <li class="nav-item">
                <a class="nav-link nav__social-link px-2 py-1 mx-1" target="_blank" href="{{ .URL | relURL }}">{{ .Pre | safeHTML }}</a>
              </li>
            {{ end -}}
          </ul>
        </div>
      </div>
    </nav>
  </div>
</header>

{{ if eq .Site.Params.options.flexSearch false }}
</div>
{{ end -}}
