<div class="bg-white relative">
    <div
        class="container w-full sm:max-w-full lg:max-w-[870px] xl:max-w-[1200px] 2xl:max-w-[1520px] mx-auto px-3 xl:px-0 pt-17 xl:pt-[98px] 2xl:pt-[118px] pb-[100px] xl:pb-[140px] 2xl:pb-[170px]">
        <header class="text-center">
            <h2
                class="text-[#222222] text-3xl 2xl:text-[2.5rem] font-semibold font-heading leading-[1.5] xl:leading-[1.5] mb-9 xl:mb-13 2xl:mb-16">
                Some of the companies already using mirrord</h2>
        </header>
        <div class="flex flex-wrap justify-center items-center gap-13 xl:gap-17 2xl:gap-[90px]">
            <div class="w-[124px] xl:w-[155px] 2xl:w-[182px] flex-none mb-6 lg:mb-0">
                <img class="companies-image w-full h-auto" src="/compare/flexport.png" alt="flexport">
            </div>
            <div class="w-[102px] xl:w-[146px] 2xl:w-[172px] flex-none mb-6 lg:mb-0">
                <img class="companies-image w-full h-auto" src="/compare/rockspoon.png" alt="rockspoon">
            </div>
            <div class="w-[97px] xl:w-[140px] 2xl:w-[164px] flex-none mb-6 lg:mb-0">
                <img class="companies-image w-full h-auto" src="/compare/sentinel-one.png" alt="sentinel-one">
            </div>
            <div class="w-[110px] xl:w-[158px] 2xl:w-[186px] flex-none mb-6 lg:mb-0">
                <img class="companies-image w-full h-auto" src="/compare/birdbuddy.png" alt="birdbuddy">
            </div>
            <div class="w-[70px] xl:w-[100px] 2xl:w-[116px] flex-none mb-6 lg:mb-0">
                <img class="companies-image w-full h-auto" src="/compare/salt.png" alt="salt">
            </div>
            <div class="w-[58px] xl:w-[82px] 2xl:w-[96px] flex-none mb-6 lg:mb-0">
                <img class="companies-image w-full h-auto" src="/compare/run-ai.png" alt="run-ai">
            </div>
        </div>
    </div>
</div>