<div class="bg-[#756DF3] relative">
    <div class="relative overflow-hidden">
        <div class="absolute w-full top-0 left-0 bottom-0 hidden md:block">
            <img class="w-full h-full object-cover object-center" src="/compare/bridge-to-kubernetes-story-bg.png" alt="bg">
        </div>
        <div class="absolute left-0 bottom-0 w-full h-full flex justify-between flex-col md:hidden">
            <img class="w-full h-auto" src="/compare/bridge-to-kubernetes-story-mobile-top-bg.png" alt="bg">
            <img class="w-full h-auto" src="/compare/bridge-to-kubernetes-story-mobile-bottom-bg.png" alt="bg">
        </div>
        <div
            class="container w-full sm:max-w-full lg:max-w-screen-lg xl:max-w-screen-xl 2xl:max-w-screen-2xl mx-auto px-6 md:px-8 lg:px-3 xl:px-0 pt-8 md:pt-11.5 lg:pt-15 xl:pt-[84px] 2xl:pt-[102px]">
            <div class="pb-10.5 md:pb-15 lg:pb-[78px] xl:pb-[110px] 2xl:pb-[134px]">
                <div
                    class="lg:w-[66%] mx-auto relative bg-[#FFFFFF] border border-solid border-[#222222] rounded-[6px] lg:rounded-[6px] xl:rounded-[8px] 2xl:rounded-[10px] shadow-[-5px_7px_0px_#000000] lg:shadow-[-5px_7px_0px_#000000] xl:shadow-[-7px_9px_0px_#000000] 2xl:shadow-[-8px_10px_0px_#000000] transition-all duration-200 ease-[ease] py-7 md:py-9 lg:py-7 xl:py-10 2xl:py-12 px-13 md:px-17 lg:px-13.5 xl:px-18 2xl:px-[92px]">
                    <div>
                        <div
                            class="text-[#222222] text-base xl:text-lg 2xl:text-2xl border-b-3 border-solid border-b-[#D9D9D9] pb-5 xl:pb-6 mb-5 xl:mb-6">
                            <p>“Then I tried mirrord and it was flawless. It does everything I liked about Telepresence
                                but
                                better. I especially love how customizable it is; it works with almost no configuration,
                                but
                                it allows for a great deal of customization should you want it.”</p>
                        </div>
                        <div>
                            <h3
                                class="text-[#222222] text-base xl:text-lg 2xl:text-2xl font-bold mb-0">
                                Brooke Weaver</h3>
                            <p
                                class="text-[#222222] text-base xl:text-lg 2xl:text-2xl mb-0">
                                Staff Software Engineer | Vivint</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="container w-full sm:max-w-full lg:max-w-screen-lg xl:max-w-screen-xl 2xl:max-w-screen-2xl mx-auto px-3 xl:px-0 relative">
        <div class="absolute left-0 bottom-0 w-full flex justify-end">
            <div class="w-[15%] lg:w-[12%] flex-none translate-y-1/2 relative z-20">
                <img src="/compare/bridge-to-kubernetes-story-logo.png" alt="logo">
            </div>
        </div>
    </div>
</div>