<div class="bg-white pb-8 xl:pb-11.5 2xl:pb-14">
    <div
        class="bg-[#756DF3] relative rounded-br-[106px] md:rounded-br-[136px] lg:rounded-br-[106px] xl:rounded-br-[152px] 2xl:rounded-br-[183px]">
        <div
            class="container w-full sm:max-w-full lg:max-w-screen-lg xl:max-w-screen-xl 2xl:max-w-screen-2xl mx-auto px-3 xl:px-0 pb-5 lg:pb-13.5 xl:pb-7 2xl:pb-8.5">
            <div class="grid grid-cols-12 gap-5 lg:gap-6 xl:gap-8 2xl:gap-10">
                <div
                    class="col-span-12 lg:col-span-7 lg:order-2 pt-11 xl:pt-16 2xl:pt-[78px]">
                    <header class="lg:w-[89%] text-center lg:text-left">
                        <h3
                            class="text-white font-heading text-3xl xl:text-[2.625rem] 2xl:text-[3.125rem] font-bold leading-[1.43] xl:leading-[1.43] 2xl:leading-[1.43] mb-7 xl:mb-9 2xl:mb-11.5">
                            I’m ready. <br>
                            How do I make the switch?</h3>
                    </header>
                    <div class="lg:w-[56%] xl:w-3/4 text-center lg:text-left px-6">
                        <p class="text-white text-base xl:text-lg 2xl:text-2xl font-light">
                            Switching to mirrord is very easy—start your free account and try it out yourself, or book a
                            call with us if you're moving a large team and have custom needs.</p>
                    </div>
                    <div
                        class="flex flex-col lg:flex-row flex-wrap lg:flex-nowrap justify-center lg:justify-start items-center lg:gap-5 xl:gap-6 2xl:gap-7.5 pt-6 2xl:pt-10 mb-2 lg:mb-0">
                        <a class="flex-none w-[263px] lg:w-[204px] xl:w-[233px] 2xl:w-[280px] h-12 xl:h-13.5 2xl:h-[65px] mb-5 text-lg xl:text-xl 2xl:text-2xl text-[#222222] hover:text-[#444083] font-body font-medium flex justify-center items-center bg-[#FFD18C] hover:bg-[#E4E3FD] border border-solid border-[#222222] rounded-[6px] lg:rounded-[11px] shadow-[-5px_5px_0px_#000000] lg:shadow-[-9px_8px_0px_#000000] transition-colors duration-200 ease-[ease]"
                            href="https://app.metalbear.co/account/sign-up" target="_blank">Try mirrord for free</a>
                        <a class="flex-none w-[263px] lg:w-[204px] xl:w-[233px] 2xl:w-[280px] h-12 xl:h-13.5 2xl:h-[65px] mb-5 text-lg xl:text-xl 2xl:text-2xl text-[#222222] font-body flex justify-center items-center bg-white hover:bg-[#E4E3FD] border border-solid border-[#222222] rounded-[6px] lg:rounded-[11px] shadow-[-5px_5px_0px_#000000] lg:shadow-[-9px_8px_0px_#000000] transition-colors duration-200 ease-[ease]"
                            href="/mirrord/demo" target="_blank">Schedule a demo</a>
                    </div>
                    <div
                        class="text-center lg:w-[69%] pt-2 xl:pt-3 2xl:pt-4 mb-5 lg:mb-8">
                        <p
                            class="flex items-center justify-center space-x-2 text-center text-white text-xs xl:text-sm 2xl:text-base">
                            <span class="border-b border-solid border-b-[#756DF3] pb-[1px]">or if you
                                have any questions,</span>
                            <a class="text-white hover:font-medium cursor-pointer border-b hover:border-b-2 border-solid border-white pb-[1px]"
                                href="/mirrord/contact">send us a message</a>
                        </p>
                    </div>
                </div>
                <div class="col-span-12 lg:col-span-4 lg:order-1">
                    <div
                        class="w-[80%] md:w-[75%] lg:w-[87%] ml-auto mr-auto lg:ml-0 lg:translate-y-[-37px] xl:translate-y-[-48px] 2xl:translate-y-[-53px] 3xl:translate-y-[-64px]">
                        <img class="w-full h-auto" src="/compare/bridge-to-kubernetes-cta-cover.png" alt="cover">
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>