<div class="bg-[#F4F4FE]">
    <div
        class="bg-[#FAFAFD] rounded-br-[150px] md:rounded-br-[192px] lg:rounded-br-[150px] xl:rounded-br-[192px] 2xl:rounded-br-[214px] 3xl:rounded-br-[258px] relative z-10">
        <div
            class="container w-full sm:max-w-full lg:max-w-screen-lg xl:max-w-screen-xl 2xl:max-w-screen-2xl mx-auto px-6 xl:px-0 pt-8 md:pt-11.5 lg:pt-15 xl:pt-[82px] 2xl:pt-[102px] pb-10.5 md:pb-15 lg:pb-[78px] xl:pb-[110px] 2xl:pb-[134px]">
            <div class="grid grid-cols-12 gap-6 md:gap-8 lg:gap-6 xl:gap-8 2xl:gap-10">
                <div class="lg:col-start-2 col-span-12 lg:col-span-6">
                    <div class="text-center lg:text-left pt-3.5 md:pt-5 lg:pt-6.5 xl:pt-9 2xl:pt-11">
                        <h2
                            class="text-[#756DF3] text-3xl xl:text-[2.5rem] 2xl:text-[3.438rem] font-semibold font-heading leading-[1.4] xl:leading-[1.4] 2xl:leading-[1.4] mb-6">
                            Frustrated with Telepresence?
                            <br>Say hi to mirrord 👋
                        </h2>
                        <div class="md:px-8 lg:px-0">
                            <p
                                class="text-[#222222] text-[1.375rem] xl:text-xl 2xl:text-2xl leading-[1.4] md:leading-[1.4] lg:leading-[1.4] xl:leading-[1.4] 2xl:leading-[1.4] mb-0">
                                mirrord brings your cloud cluster to your local machine—without any headaches. No more
                                compatibility issues, sluggish performance, or complex setup. It just works—faster,
                                smoother, and with a user experience built by and for developers.
                            </p>
                        </div>
                    </div>
                    <div class="pt-6 lg:pt-10 flex justify-center lg:justify-start">
                        <a class="flex-none w-[263px] lg:w-[204px] xl:w-[240px] 2xl:w-[262px] h-12 xl:h-13.5 2xl:h-[65px] mb-5 text-lg xl:text-xl 2xl:text-2xl text-[#222222] hover:text-[#444083] font-body flex justify-center items-center bg-tertiary hover:bg-secondary border border-solid border-midblack rounded-[6px] lg:rounded-[11px] shadow-[-5px_5px_0px_#000000] lg:shadow-[-9px_8px_0px_#000000] transition-colors duration-200 ease-[ease]"
                            href="https://app.metalbear.com/account/sign-up" target="_blank">Try mirrord For Free</a>
                    </div>
                </div>
                <div class="col-span-12 lg:col-span-5">
                    <div class="md:w-[76%] mx-auto">
                        <img class="w-full h-auto" src="/compare/comparing.gif" alt="comparing">
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>